In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', 1000)
import re

In [2]:
unem = pd.read_csv('../data/Unemployment.csv')

In [3]:
state_crimes = pd.read_csv('../data/state_crime.csv')

In [4]:
state_crimes

        State  Year  Data.Population  Data.Rates.Property.All  Data.Rates.Property.Burglary  Data.Rates.Property.Larceny  Data.Rates.Property.Motor  Data.Rates.Violent.All  Data.Rates.Violent.Assault  Data.Rates.Violent.Murder  Data.Rates.Violent.Rape  Data.Rates.Violent.Robbery  Data.Totals.Property.All  Data.Totals.Property.Burglary  Data.Totals.Property.Larceny  Data.Totals.Property.Motor  Data.Totals.Violent.All  Data.Totals.Violent.Assault  Data.Totals.Violent.Murder  Data.Totals.Violent.Rape  Data.Totals.Violent.Robbery
0     Alabama  1960          3266740                   1035.4                         355.9                        592.1                       87.3                   186.6                       138.1                       12.4                      8.6                        27.5                     33823                          11626                         19344                        2853                     6097                         4512                         406                       281                          898
1     Alabama  1961          3302000                    985.5                         339.3                        569.4                       76.8                   168.5                       128.9                       12.9                      7.6                        19.1                     32541                          11205                         18801                        2535                     5564                         4255                         427                       252                          630
2     Alabama  1962          3358000                   1067.0                         349.1                        634.5                       83.4                   157.3                       119.0                        9.4                      6.5                        22.5                     35829                          11722                         21306                        2801                     5283                         3995                         316                       218                          754
3     Alabama  1963          3347000                   1150.9                         376.9                        683.4                       90.6                   182.7                       142.1                       10.2                      5.7                        24.7                     38521                          12614                         22874                        3033                     6115                         4755                         340                       192                          828
4     Alabama  1964          3407000                   1358.7                         466.6                        784.1                      108.0                   213.1                       163.0                        9.3                     11.7                        29.1                     46290                          15898                         26713                        3679                     7260                         5555                         316                       397                          992
...       ...   ...              ...                      ...                           ...                          ...                        ...                     ...                         ...                        ...                      ...                         ...                       ...                            ...                           ...                         ...                      ...                          ...                         ...                       ...                          ...
3110  Wyoming  2015           586107                   1902.6                         300.6                       1500.9                      101.0                   222.1                       179.8                        2.7                     29.5                        10.1                     11151                           1762                          8797                         592                     1302                         1054                          16                       173                           59
3111  Wyoming  2016           585501                   1957.3                         302.5                       1518.2                      136.6                   244.2                       195.7                        3.4                     35.0                        10.1                     11460                           1771                          8889                         800                     1430                         1146                          20                       205                           59
3112  Wyoming  2017           579315                   1830.4                         275.0                       1421.0                      134.5                   237.5                       176.4                        2.6                     45.4                        13.1                     10604                           1593                          8232                         779                     1376                         1022                          15                       263                           76
3113  Wyoming  2018           577737                   1785.1                         264.0                       1375.9                      145.2                   212.2                       150.6                        2.3                     42.1                        17.3                     10313                           1525                          7949                         839                     1226                          870                          13                       243                          100
3114  Wyoming  2019           578759                   1571.1                         241.2                       1206.7                      123.2                   217.4                       147.6                        2.2                     56.0                        11.6                      9093                           1396                          6984                         713                     1258                          854                          13                       324                           67

[3115 rows x 21 columns]

# HOUSTON DATA 2020 - 2024

In [5]:
houston2020 = pd.read_excel('../data/houston2020.xlsx')

### Getting only crimes related to death penalty

In [6]:
houston2020 = houston2020.loc[houston2020['NIBRSDescription'].isin([
    'Murder, non-negligent',  
    'Negligent manslaughter',  
    'Justifiable homicide'
])]

In [7]:
houston2021 = pd.read_excel('../data/houston2021.xlsx')

In [8]:
houston2021['NIBRSDescription'].unique()

array(['Aggravated Assault', 'Simple assault',
       'Drug, narcotic violations', 'Theft from motor vehicle',
       'Disorderly conduct', 'Arson', 'Destruction, damage, vandalism',
       'Driving under the influence', 'Stolen property offenses',
       'All other offenses', 'Drunkenness', 'Shoplifting',
       'Liquor law violations', 'All other larceny',
       'Motor vehicle theft', 'Weapon law violations',
       'Burglary, Breaking and Entering', 'Animal Cruelty',
       'Embezzlement', 'Gambling equipment violations', 'Identify theft',
       'Forcible fondling', 'Theft of motor vehicle parts or accessory',
       'Intimidation', 'Credit card, ATM fraud',
       'Counterfeiting, forgery', 'Trespass of real property',
       'Forcible sodomy', 'Robbery', 'Kidnapping, abduction',
       'False pretenses, swindle', 'Forcible rape', 'Pocket-picking',
       'Theft from building', 'Pornographs, obscene material',
       'Family offenses, no violence', 'Bad checks', 'Wire fraud',
       'Murder, non-negligent', 'Purse-snatching',
       'Drug equipment violations', 'Statutory rape',
       'Human Trafficking/Commercial Sex Act', 'Extortion, Blackmail',
       'From coin-operated machine or device', 'Prostitution',
       'Impersonation', 'Assisting or promoting prostitution',
       'Curfew, loitering, vagrancy violations', 'Negligent manslaughter',
       'Sexual assault with an object', 'Peeping tom',
       'Hacking/Computer Invasion', 'Welfare fraud', 'Runaway',
       'Human Trafficking/Involuntary Servitude',
       'Purchasing prostitution', 'Incest', 'Promoting gambling',
       'Betting/wagering', 'Bribery', 'Kidnapping, Abduction',
       'Justifiable homicide'], dtype=object)

In [9]:
houston2021 = houston2021.loc[houston2021['NIBRSDescription'].isin([
    'Murder, non-negligent',  
    'Negligent manslaughter',  
    'Justifiable homicide'
])]

In [10]:
houston2022 = pd.read_excel('../data/houston2022.xlsx')

In [11]:
houston2022 = houston2022.loc[houston2022['NIBRSDescription'].isin([
    'Murder, non-negligent',  
    'Negligent manslaughter',  
    'Justifiable homicide'
])]

In [12]:
houston2023 = pd.read_excel('../data/houston2023.xlsx')

In [13]:
houston2023 = houston2023.loc[houston2023['NIBRSDescription'].isin([
    'Murder, non-negligent',  
    'Negligent manslaughter',  
    'Justifiable homicide'
])]

In [14]:
houston2024 = pd.read_excel('../data/houston2024.xlsx')

In [15]:
houston2024 = houston2024.loc[houston2024['NIBRSDescription'].isin([
    'Murder, non-negligent',  
    'Negligent manslaughter',  
    'Justifiable homicide'
])]

### Combined all the houston datasets with only needed crimes

In [16]:
houston = pd.concat([houston2020, houston2021, houston2022, houston2023, houston2024], ignore_index=True)

In [17]:
houston['RMSOccurrenceDate'].min()

Timestamp('2020-01-01 00:00:00')

In [18]:
houston['RMSOccurrenceDate'].max()

Timestamp('2024-12-29 00:00:00')

### HOUSTON - Cleaning dataset

In [19]:
houston.columns

Index(['Incident', 'RMSOccurrenceDate', 'RMSOccurrenceHour', 'NIBRSClass', 'NIBRSDescription', 'OffenseCount', 'Beat', 'Premise', 'StreetNo', 'StreetName', 'StreetType', 'Suffix', 'City', 'ZIPCode', 'MapLongitude', 'MapLatitude'], dtype='object')

In [20]:
houston = houston.rename(columns = {'Incident':'houston_id', 'RMSOccurrenceDate':'date', 'RMSOccurrenceHour':'hour', 'NIBRSDescription':'desc', 'Beat':'beat', 'Premise':'premise', 
                           'StreetNo':'street_number', 'StreetName':'street_name', 'StreetType':'street_type', 'City':'city', 'ZIPCode':'zip', 'MapLongitude':'long', 'MapLatitude':'lat'})

In [21]:
houston = houston[['houston_id', 'date', 'hour', 'desc', 'beat', 'premise', 'street_number', 'street_name', 'street_type', 'city',
                   'zip', 'long', 'lat']]

In [22]:
houston.loc[houston.desc == 'Murder, non-negligent'] #checking how many rows we have

      houston_id       date  hour                   desc   beat                               premise street_number street_name street_type     city      zip       long        lat
0          83520 2020-01-01     1  Murder, non-negligent   6B40  Residence, Home (Includes Apartment)          9601  MONTGOMERY          RD  HOUSTON  77088.0 -95.448536  29.882476
1         318220 2020-01-01    16  Murder, non-negligent  22B20  Residence, Home (Includes Apartment)           832      GREENS          RD  HOUSTON  77067.0 -95.426882  29.948931
2        1394020 2020-01-04     0  Murder, non-negligent   6B30  Residence, Home (Includes Apartment)          5555  HOLLY VIEW          DR  HOUSTON  77091.0 -95.468712  29.857226
3        1588720 2020-01-04    12  Murder, non-negligent  20G30                   Parking Lot, Garage          2909       HAYES          RD  HOUSTON  77082.0 -95.575661  29.732518
4        2337920 2020-01-06     4  Murder, non-negligent  20G50                        Other, Unknown           921     GESSNER          RD  HOUSTON  77024.0 -95.544502  29.779885
...          ...        ...   ...                    ...    ...                                   ...           ...         ...         ...      ...      ...        ...        ...
1947   177168524 2024-12-22     3  Murder, non-negligent  14D20  Residence, Home (Includes Apartment)          5329     HIGGINS          ST  HOUSTON  77033.0 -95.341233  29.654438
1948   177219824 2024-12-22     7  Murder, non-negligent  10H70                        Other, Unknown          6411      FANNIN          ST  HOUSTON  77030.0 -95.396866  29.714626
1949   177507024 2024-12-22    22  Murder, non-negligent  14D20  Residence, Home (Includes Apartment)          5145     HIGGINS          ST  HOUSTON  77033.0 -95.345169  29.654402
1950   178767324 2024-12-25    21  Murder, non-negligent  15E10  Residence, Home (Includes Apartment)          9251     BURDINE          ST  HOUSTON  77096.0 -95.481762  29.677339
1951   180313524 2024-12-29     9  Murder, non-negligent   7C30  Residence, Home (Includes Apartment)          3347   PERSIMMON         NaN  HOUSTON  77093.0 -95.336382  29.832988

[1895 rows x 13 columns]

In [23]:
houston['street'] = houston.street_number + ' ' + houston.street_name #combining street name and number to be one column

In [24]:
houston.desc.value_counts()

desc
Murder, non-negligent     1895
Justifiable homicide        35
Negligent manslaughter      22
Name: count, dtype: int64

In [25]:
houston = houston[['houston_id', 'date', 'hour', 'desc', 'beat', 'premise', 'street', 'city', 'zip', 'long', 'lat']]

In [26]:
for index, row in houston.iterrows():
    hour = row['hour']
    if 0 <= hour <=5:
          houston.loc[index, 'time'] = 'Night'
    elif 6 <= hour <= 11:
        houston.loc[index, 'time'] = 'Morning'
    elif 12 <= hour <= 17:
        houston.loc[index, 'time'] = 'Afternoon'
    elif 18 <= hour <= 23:
        houston.loc[index, 'time'] = 'Evening'
    else:
        houston.loc[index, 'time'] = 'Unknown'

### Renaming crime descriptions to match with other cities under the same categories

In [27]:
murder_mapping_houston = {
    'Murder, non-negligent': 'Voluntary manslaughter',
    'Justifiable homicide': 'Justifiable homicide',
    'Negligent manslaughter': 'Involuntary manslaughter',
}

In [28]:
houston['desc'] = houston['desc'].replace(murder_mapping_houston)

In [29]:
houston.desc.value_counts()

desc
Voluntary manslaughter      1895
Justifiable homicide          35
Involuntary manslaughter      22
Name: count, dtype: int64

### Adding extra columns: state, death_penalty, year

In [30]:
houston['state'] = 'Texas'

In [31]:
houston['death_penalty'] = True

In [32]:
houston = houston.rename(columns = {'premise':'location_desc'})

In [33]:
houston['year'] = houston['date'].dt.year

In [34]:
houston['month'] = houston['date'].dt.month_name()

In [35]:
houston['weekday'] = houston['date'].dt.day_name()

In [36]:
houston

      houston_id       date  hour                    desc   beat                         location_desc           street     city      zip       long        lat       time  state  death_penalty  year     month    weekday
0          83520 2020-01-01     1  Voluntary manslaughter   6B40  Residence, Home (Includes Apartment)  9601 MONTGOMERY  HOUSTON  77088.0 -95.448536  29.882476      Night  Texas           True  2020   January  Wednesday
1         318220 2020-01-01    16  Voluntary manslaughter  22B20  Residence, Home (Includes Apartment)       832 GREENS  HOUSTON  77067.0 -95.426882  29.948931  Afternoon  Texas           True  2020   January  Wednesday
2        1394020 2020-01-04     0  Voluntary manslaughter   6B30  Residence, Home (Includes Apartment)  5555 HOLLY VIEW  HOUSTON  77091.0 -95.468712  29.857226      Night  Texas           True  2020   January   Saturday
3        1588720 2020-01-04    12  Voluntary manslaughter  20G30                   Parking Lot, Garage       2909 HAYES  HOUSTON  77082.0 -95.575661  29.732518  Afternoon  Texas           True  2020   January   Saturday
4        2337920 2020-01-06     4  Voluntary manslaughter  20G50                        Other, Unknown      921 GESSNER  HOUSTON  77024.0 -95.544502  29.779885      Night  Texas           True  2020   January     Monday
...          ...        ...   ...                     ...    ...                                   ...              ...      ...      ...        ...        ...        ...    ...            ...   ...       ...        ...
1947   177168524 2024-12-22     3  Voluntary manslaughter  14D20  Residence, Home (Includes Apartment)     5329 HIGGINS  HOUSTON  77033.0 -95.341233  29.654438      Night  Texas           True  2024  December     Sunday
1948   177219824 2024-12-22     7  Voluntary manslaughter  10H70                        Other, Unknown      6411 FANNIN  HOUSTON  77030.0 -95.396866  29.714626    Morning  Texas           True  2024  December     Sunday
1949   177507024 2024-12-22    22  Voluntary manslaughter  14D20  Residence, Home (Includes Apartment)     5145 HIGGINS  HOUSTON  77033.0 -95.345169  29.654402    Evening  Texas           True  2024  December     Sunday
1950   178767324 2024-12-25    21  Voluntary manslaughter  15E10  Residence, Home (Includes Apartment)     9251 BURDINE  HOUSTON  77096.0 -95.481762  29.677339    Evening  Texas           True  2024  December  Wednesday
1951   180313524 2024-12-29     9  Voluntary manslaughter   7C30  Residence, Home (Includes Apartment)   3347 PERSIMMON  HOUSTON  77093.0 -95.336382  29.832988    Morning  Texas           True  2024  December     Sunday

[1952 rows x 17 columns]

In [37]:
houston.isnull().sum() #checking for missing values

houston_id        0
date              0
hour              0
desc              0
beat              0
location_desc     0
street            9
city              0
zip              20
long              7
lat               7
time              0
state             0
death_penalty     0
year              0
month             0
weekday           0
dtype: int64

In [38]:
houston.shape

(1952, 17)

In [39]:
houston.dtypes

houston_id                int64
date             datetime64[ns]
hour                      int64
desc                     object
beat                     object
location_desc            object
street                   object
city                     object
zip                     float64
long                    float64
lat                     float64
time                     object
state                    object
death_penalty              bool
year                      int32
month                    object
weekday                  object
dtype: object

In [40]:
houston.year.min()

2020

### Adding city and population

In [41]:
houston['city'] = 'Houston'

In [42]:
houston

      houston_id       date  hour                    desc   beat                         location_desc           street     city      zip       long        lat       time  state  death_penalty  year     month    weekday
0          83520 2020-01-01     1  Voluntary manslaughter   6B40  Residence, Home (Includes Apartment)  9601 MONTGOMERY  Houston  77088.0 -95.448536  29.882476      Night  Texas           True  2020   January  Wednesday
1         318220 2020-01-01    16  Voluntary manslaughter  22B20  Residence, Home (Includes Apartment)       832 GREENS  Houston  77067.0 -95.426882  29.948931  Afternoon  Texas           True  2020   January  Wednesday
2        1394020 2020-01-04     0  Voluntary manslaughter   6B30  Residence, Home (Includes Apartment)  5555 HOLLY VIEW  Houston  77091.0 -95.468712  29.857226      Night  Texas           True  2020   January   Saturday
3        1588720 2020-01-04    12  Voluntary manslaughter  20G30                   Parking Lot, Garage       2909 HAYES  Houston  77082.0 -95.575661  29.732518  Afternoon  Texas           True  2020   January   Saturday
4        2337920 2020-01-06     4  Voluntary manslaughter  20G50                        Other, Unknown      921 GESSNER  Houston  77024.0 -95.544502  29.779885      Night  Texas           True  2020   January     Monday
...          ...        ...   ...                     ...    ...                                   ...              ...      ...      ...        ...        ...        ...    ...            ...   ...       ...        ...
1947   177168524 2024-12-22     3  Voluntary manslaughter  14D20  Residence, Home (Includes Apartment)     5329 HIGGINS  Houston  77033.0 -95.341233  29.654438      Night  Texas           True  2024  December     Sunday
1948   177219824 2024-12-22     7  Voluntary manslaughter  10H70                        Other, Unknown      6411 FANNIN  Houston  77030.0 -95.396866  29.714626    Morning  Texas           True  2024  December     Sunday
1949   177507024 2024-12-22    22  Voluntary manslaughter  14D20  Residence, Home (Includes Apartment)     5145 HIGGINS  Houston  77033.0 -95.345169  29.654402    Evening  Texas           True  2024  December     Sunday
1950   178767324 2024-12-25    21  Voluntary manslaughter  15E10  Residence, Home (Includes Apartment)     9251 BURDINE  Houston  77096.0 -95.481762  29.677339    Evening  Texas           True  2024  December  Wednesday
1951   180313524 2024-12-29     9  Voluntary manslaughter   7C30  Residence, Home (Includes Apartment)   3347 PERSIMMON  Houston  77093.0 -95.336382  29.832988    Morning  Texas           True  2024  December     Sunday

[1952 rows x 17 columns]

In [43]:
houston_pop = pd.read_csv('../data/houston_pop.csv')

In [44]:
houston_pop

      city  year    population
0  Houston  2020  2,304,580.00
1  Houston  2021  2,287,047.00
2  Houston  2022  2,304,414.00
3  Houston  2023  2,311,461.00
4  Houston  2024  2,333,346.00

In [45]:
houston = pd.merge(houston, houston_pop, on = ['year', 'city'], how = 'inner')

In [46]:
houston

      houston_id       date  hour                    desc   beat                         location_desc           street     city      zip       long        lat       time  state  death_penalty  year     month    weekday    population
0          83520 2020-01-01     1  Voluntary manslaughter   6B40  Residence, Home (Includes Apartment)  9601 MONTGOMERY  Houston  77088.0 -95.448536  29.882476      Night  Texas           True  2020   January  Wednesday  2,304,580.00
1         318220 2020-01-01    16  Voluntary manslaughter  22B20  Residence, Home (Includes Apartment)       832 GREENS  Houston  77067.0 -95.426882  29.948931  Afternoon  Texas           True  2020   January  Wednesday  2,304,580.00
2        1394020 2020-01-04     0  Voluntary manslaughter   6B30  Residence, Home (Includes Apartment)  5555 HOLLY VIEW  Houston  77091.0 -95.468712  29.857226      Night  Texas           True  2020   January   Saturday  2,304,580.00
3        1588720 2020-01-04    12  Voluntary manslaughter  20G30                   Parking Lot, Garage       2909 HAYES  Houston  77082.0 -95.575661  29.732518  Afternoon  Texas           True  2020   January   Saturday  2,304,580.00
4        2337920 2020-01-06     4  Voluntary manslaughter  20G50                        Other, Unknown      921 GESSNER  Houston  77024.0 -95.544502  29.779885      Night  Texas           True  2020   January     Monday  2,304,580.00
...          ...        ...   ...                     ...    ...                                   ...              ...      ...      ...        ...        ...        ...    ...            ...   ...       ...        ...           ...
1947   177168524 2024-12-22     3  Voluntary manslaughter  14D20  Residence, Home (Includes Apartment)     5329 HIGGINS  Houston  77033.0 -95.341233  29.654438      Night  Texas           True  2024  December     Sunday  2,333,346.00
1948   177219824 2024-12-22     7  Voluntary manslaughter  10H70                        Other, Unknown      6411 FANNIN  Houston  77030.0 -95.396866  29.714626    Morning  Texas           True  2024  December     Sunday  2,333,346.00
1949   177507024 2024-12-22    22  Voluntary manslaughter  14D20  Residence, Home (Includes Apartment)     5145 HIGGINS  Houston  77033.0 -95.345169  29.654402    Evening  Texas           True  2024  December     Sunday  2,333,346.00
1950   178767324 2024-12-25    21  Voluntary manslaughter  15E10  Residence, Home (Includes Apartment)     9251 BURDINE  Houston  77096.0 -95.481762  29.677339    Evening  Texas           True  2024  December  Wednesday  2,333,346.00
1951   180313524 2024-12-29     9  Voluntary manslaughter   7C30  Residence, Home (Includes Apartment)   3347 PERSIMMON  Houston  77093.0 -95.336382  29.832988    Morning  Texas           True  2024  December     Sunday  2,333,346.00

[1952 rows x 18 columns]

In [47]:
houston.to_csv('houston_crime_for_powerbi.csv', index=False)

# CHICAGO 01/01/2020 - 12/31/2024:

In [48]:
chicago = pd.read_csv('../data/chicago2020_2024.csv')

In [49]:
chicago.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                  int64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [50]:
chicago['Date'].max()

'12/31/2024 12:58:00 PM'

In [51]:
chicago['Date'].min()

'01/01/2020 06:20:00 PM'

In [52]:
chicago.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type', 'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude', 'Location'], dtype='object')

In [53]:
#Renaming columns
chicago = chicago.rename(columns = {'ID':'chicago_id', 'Date':'date', 'Block':'street_name', 'IUCR':'iucr', 'Primary Type':'primary_type', 'Description':'desc',
                                    'Location Description':'location_desc', 'Domestic':'domestic', 'Beat':'beat', 'District':'district', 'Ward':'ward', 
                                    'Year':'year', 'Latitude':'lat', 'Longitude':'long', 'Location':'geo'})

In [54]:
#Keeping only the columns I need
chicago = chicago[['chicago_id', 'date', 'street_name', 'iucr', 'primary_type', 'desc',
                                    'location_desc', 'domestic', 'beat', 'district', 
                                    'year', 'lat', 'long', 'geo']]

In [55]:
chicago['primary_type'].unique()

array(['CRIMINAL DAMAGE', 'MOTOR VEHICLE THEFT', 'BATTERY',
       'DECEPTIVE PRACTICE', 'THEFT', 'ASSAULT', 'ROBBERY', 'NARCOTICS',
       'OFFENSE INVOLVING CHILDREN', 'BURGLARY', 'WEAPONS VIOLATION',
       'OTHER OFFENSE', 'CRIMINAL SEXUAL ASSAULT', 'KIDNAPPING',
       'HOMICIDE', 'CRIMINAL TRESPASS', 'ARSON', 'SEX OFFENSE',
       'INTERFERENCE WITH PUBLIC OFFICER', 'STALKING',
       'PUBLIC PEACE VIOLATION', 'CONCEALED CARRY LICENSE VIOLATION',
       'INTIMIDATION', 'LIQUOR LAW VIOLATION', 'GAMBLING', 'PROSTITUTION',
       'OBSCENITY', 'PUBLIC INDECENCY', 'HUMAN TRAFFICKING',
       'NON-CRIMINAL', 'OTHER NARCOTIC VIOLATION', 'RITUALISM',
       'CRIM SEXUAL ASSAULT'], dtype=object)

In [56]:
#chicago['Description'].unique()

In [57]:
chicago = chicago.loc[chicago.primary_type == 'HOMICIDE']

In [58]:
chicago['date'] = pd.to_datetime(chicago['date'])

C:\Users\Kala\AppData\Local\Temp\ipykernel_49840\2001995006.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  chicago['date'] = pd.to_datetime(chicago['date'])

In [59]:
chicago['hour'] = chicago['date'].dt.hour

In [60]:
chicago['month'] = chicago['date'].dt.month_name()

In [61]:
chicago['weekday'] = chicago['date'].dt.day_name()

In [62]:
chicago['date'] = chicago['date'].dt.date

In [63]:
chicago['date'] = pd.to_datetime(chicago['date'])

In [64]:
chicago['month'] = chicago['date'].dt.month_name()

In [65]:
chicago

         chicago_id       date             street_name  iucr primary_type                 desc location_desc  domestic  beat  district  year        lat       long                            geo  hour     month   weekday
90            28544 2024-12-31        110XX S STATE ST  0110     HOMICIDE  FIRST DEGREE MURDER        STREET     False   513         5  2024  41.693256 -87.623123  (41.693256208, -87.623123486)    15  December   Tuesday
996           28543 2024-12-30      020XX S PAULINA ST  0110     HOMICIDE  FIRST DEGREE MURDER        STREET     False  1234        12  2024  41.854794 -87.668569    (41.854793855, -87.6685693)     1  December    Monday
2873          28542 2024-12-27     053XX W CHICAGO AVE  0110     HOMICIDE  FIRST DEGREE MURDER        STREET     False  1524        15  2024  41.894908 -87.758769  (41.894907524, -87.758768643)     1  December    Friday
4196          28541 2024-12-24    057XX S MICHIGAN AVE  0110     HOMICIDE  FIRST DEGREE MURDER     APARTMENT     False   232         2  2024  41.790241 -87.622355  (41.790240779, -87.622354657)    14  December   Tuesday
4555          28540 2024-12-23         009XX E 78TH ST  0110     HOMICIDE  FIRST DEGREE MURDER     APARTMENT     False   624         6  2024  41.753146 -87.602153  (41.753145614, -87.602153123)    22  December    Monday
...             ...        ...                     ...   ...          ...                  ...           ...       ...   ...       ...   ...        ...        ...                            ...   ...       ...       ...
1180422       25384 2020-01-03   018XX N SPAULDING AVE  0110     HOMICIDE  FIRST DEGREE MURDER  NURSING HOME      True  1422        14  2020  41.914174 -87.710198  (41.914173986, -87.710197635)     8   January    Friday
1180719       24892 2020-01-02      082XX S DREXEL AVE  0110     HOMICIDE  FIRST DEGREE MURDER        STREET     False   631         6  2020  41.745259 -87.602587  (41.745258504, -87.602587071)    19   January  Thursday
1180892       24891 2020-01-02    069XX S MICHIGAN AVE  0110     HOMICIDE  FIRST DEGREE MURDER        STREET     False   322         3  2020  41.768261 -87.621765  (41.768260855, -87.621765291)    14   January  Thursday
1181153       24890 2020-01-02  072XX S SOUTH SHORE DR  0110     HOMICIDE  FIRST DEGREE MURDER     APARTMENT     False   334         3  2020  41.764728 -87.561272  (41.764728045, -87.561272312)     3   January  Thursday
1181156       24889 2020-01-02  072XX S SOUTH SHORE DR  0110     HOMICIDE  FIRST DEGREE MURDER     APARTMENT     False   334         3  2020  41.764728 -87.561272  (41.764728045, -87.561272312)     2   January  Thursday

[3563 rows x 17 columns]

In [66]:
for index, row in chicago.iterrows():   #creating new column with time of a day named 'time'
    hour = row['hour']
    if 0 <= hour <=5:
          chicago.loc[index, 'time'] = 'Night'
    elif 6 <= hour <= 11:
        chicago.loc[index, 'time'] = 'Morning'
    elif 12 <= hour <= 17:
        chicago.loc[index, 'time'] = 'Afternoon'
    elif 18 <= hour <= 23:
        chicago.loc[index, 'time'] = 'Evening'
    else:
        chicago.loc[index, 'time'] = 'Unknown'

In [67]:
chicago.desc.value_counts()

desc
FIRST DEGREE MURDER         3533
RECKLESS HOMICIDE             28
INVOLUNTARY MANSLAUGHTER       1
SECOND DEGREE MURDER           1
Name: count, dtype: int64

In [68]:
chicago

         chicago_id       date             street_name  iucr primary_type                 desc location_desc  domestic  beat  district  year        lat       long                            geo  hour     month   weekday       time
90            28544 2024-12-31        110XX S STATE ST  0110     HOMICIDE  FIRST DEGREE MURDER        STREET     False   513         5  2024  41.693256 -87.623123  (41.693256208, -87.623123486)    15  December   Tuesday  Afternoon
996           28543 2024-12-30      020XX S PAULINA ST  0110     HOMICIDE  FIRST DEGREE MURDER        STREET     False  1234        12  2024  41.854794 -87.668569    (41.854793855, -87.6685693)     1  December    Monday      Night
2873          28542 2024-12-27     053XX W CHICAGO AVE  0110     HOMICIDE  FIRST DEGREE MURDER        STREET     False  1524        15  2024  41.894908 -87.758769  (41.894907524, -87.758768643)     1  December    Friday      Night
4196          28541 2024-12-24    057XX S MICHIGAN AVE  0110     HOMICIDE  FIRST DEGREE MURDER     APARTMENT     False   232         2  2024  41.790241 -87.622355  (41.790240779, -87.622354657)    14  December   Tuesday  Afternoon
4555          28540 2024-12-23         009XX E 78TH ST  0110     HOMICIDE  FIRST DEGREE MURDER     APARTMENT     False   624         6  2024  41.753146 -87.602153  (41.753145614, -87.602153123)    22  December    Monday    Evening
...             ...        ...                     ...   ...          ...                  ...           ...       ...   ...       ...   ...        ...        ...                            ...   ...       ...       ...        ...
1180422       25384 2020-01-03   018XX N SPAULDING AVE  0110     HOMICIDE  FIRST DEGREE MURDER  NURSING HOME      True  1422        14  2020  41.914174 -87.710198  (41.914173986, -87.710197635)     8   January    Friday    Morning
1180719       24892 2020-01-02      082XX S DREXEL AVE  0110     HOMICIDE  FIRST DEGREE MURDER        STREET     False   631         6  2020  41.745259 -87.602587  (41.745258504, -87.602587071)    19   January  Thursday    Evening
1180892       24891 2020-01-02    069XX S MICHIGAN AVE  0110     HOMICIDE  FIRST DEGREE MURDER        STREET     False   322         3  2020  41.768261 -87.621765  (41.768260855, -87.621765291)    14   January  Thursday  Afternoon
1181153       24890 2020-01-02  072XX S SOUTH SHORE DR  0110     HOMICIDE  FIRST DEGREE MURDER     APARTMENT     False   334         3  2020  41.764728 -87.561272  (41.764728045, -87.561272312)     3   January  Thursday      Night
1181156       24889 2020-01-02  072XX S SOUTH SHORE DR  0110     HOMICIDE  FIRST DEGREE MURDER     APARTMENT     False   334         3  2020  41.764728 -87.561272  (41.764728045, -87.561272312)     2   January  Thursday      Night

[3563 rows x 18 columns]

In [69]:
murder_mapping_chicagoo = {
    'FIRST DEGREE MURDER': 'Voluntary manslaughter',
    'SECOND DEGREE MURDER': 'Voluntary manslaughter',
    'RECKLESS HOMICIDE': 'Involuntary manslaughter',
    'INVOLUNTARY MANSLAUGHTER': 'Involuntary manslaughter',
}

In [70]:
chicago['desc'] = chicago['desc'].replace(murder_mapping_chicagoo)

In [71]:
chicago.desc.value_counts()

desc
Voluntary manslaughter      3534
Involuntary manslaughter      29
Name: count, dtype: int64

In [72]:
chicago.drop('iucr', axis=1, inplace = True)

In [73]:
chicago['death_penalty'] = False #adding new column for later visualization stating that this State doesn't have death penalty

In [74]:
chicago['state'] = 'Illinois' #for future table merging

### Dropped columns I didn't need : beat, district

In [75]:
chicago = chicago[['chicago_id', 'date', 'street_name',	'desc',	'location_desc', 'domestic', 'year', 'lat',	'long',	'geo',	'hour',	'time',	'death_penalty', 'state', 'weekday', 'month']]

In [76]:
chicago['city'] = 'Chicago'

C:\Users\Kala\AppData\Local\Temp\ipykernel_49840\3692196038.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chicago['city'] = 'Chicago'

In [77]:
chicago['date'] = pd.to_datetime(chicago['date'])

C:\Users\Kala\AppData\Local\Temp\ipykernel_49840\2001995006.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chicago['date'] = pd.to_datetime(chicago['date'])

In [78]:
chicago.dtypes

chicago_id                int64
date             datetime64[ns]
street_name              object
desc                     object
location_desc            object
domestic                   bool
year                      int64
lat                     float64
long                    float64
geo                      object
hour                      int32
time                     object
death_penalty              bool
state                    object
weekday                  object
month                    object
city                     object
dtype: object

In [79]:
chicago_pop = pd.read_csv('../data/chicago_pop.csv')

In [80]:
chicago = pd.merge(chicago, chicago_pop, on = ['year', 'city'], how = 'inner')

In [81]:
chicago

      chicago_id       date             street_name                    desc location_desc  domestic  year        lat       long                            geo  hour       time  death_penalty     state   weekday     month     city    population
0          28544 2024-12-31        110XX S STATE ST  Voluntary manslaughter        STREET     False  2024  41.693256 -87.623123  (41.693256208, -87.623123486)    15  Afternoon          False  Illinois   Tuesday  December  Chicago  2,664,452.00
1          28543 2024-12-30      020XX S PAULINA ST  Voluntary manslaughter        STREET     False  2024  41.854794 -87.668569    (41.854793855, -87.6685693)     1      Night          False  Illinois    Monday  December  Chicago  2,664,452.00
2          28542 2024-12-27     053XX W CHICAGO AVE  Voluntary manslaughter        STREET     False  2024  41.894908 -87.758769  (41.894907524, -87.758768643)     1      Night          False  Illinois    Friday  December  Chicago  2,664,452.00
3          28541 2024-12-24    057XX S MICHIGAN AVE  Voluntary manslaughter     APARTMENT     False  2024  41.790241 -87.622355  (41.790240779, -87.622354657)    14  Afternoon          False  Illinois   Tuesday  December  Chicago  2,664,452.00
4          28540 2024-12-23         009XX E 78TH ST  Voluntary manslaughter     APARTMENT     False  2024  41.753146 -87.602153  (41.753145614, -87.602153123)    22    Evening          False  Illinois    Monday  December  Chicago  2,664,452.00
...          ...        ...                     ...                     ...           ...       ...   ...        ...        ...                            ...   ...        ...            ...       ...       ...       ...      ...           ...
3558       25384 2020-01-03   018XX N SPAULDING AVE  Voluntary manslaughter  NURSING HOME      True  2020  41.914174 -87.710198  (41.914173986, -87.710197635)     8    Morning          False  Illinois    Friday   January  Chicago  2,746,388.00
3559       24892 2020-01-02      082XX S DREXEL AVE  Voluntary manslaughter        STREET     False  2020  41.745259 -87.602587  (41.745258504, -87.602587071)    19    Evening          False  Illinois  Thursday   January  Chicago  2,746,388.00
3560       24891 2020-01-02    069XX S MICHIGAN AVE  Voluntary manslaughter        STREET     False  2020  41.768261 -87.621765  (41.768260855, -87.621765291)    14  Afternoon          False  Illinois  Thursday   January  Chicago  2,746,388.00
3561       24890 2020-01-02  072XX S SOUTH SHORE DR  Voluntary manslaughter     APARTMENT     False  2020  41.764728 -87.561272  (41.764728045, -87.561272312)     3      Night          False  Illinois  Thursday   January  Chicago  2,746,388.00
3562       24889 2020-01-02  072XX S SOUTH SHORE DR  Voluntary manslaughter     APARTMENT     False  2020  41.764728 -87.561272  (41.764728045, -87.561272312)     2      Night          False  Illinois  Thursday   January  Chicago  2,746,388.00

[3563 rows x 18 columns]

In [82]:
chicago.to_csv('chicago_crime_for_powerbi.csv', index=False)

# Minneapolis, MN - NO DEATH PENATLY 2019/01/01- 2024/12/23 - need to fix it

In [83]:
mn = pd.read_csv('../data/minnesota.csv')

In [84]:
mn['Offense_Category'].unique()

array(['Subset of NIBRS Assault Offenses',
       'Burglary/Breaking & Entering ', 'Assault Offenses ',
       'Motor Vehicle Theft ', 'Larceny/Theft Offenses ',
       'Destruction/Damage/Vandalism of Property ',
       'Weapon Law Violations ', 'Drug/Narcotic Offenses ',
       'Kidnapping/Abduction ', 'Robbery ', 'Counterfeiting/Forgery ',
       'Stolen Property Offenses ', 'Fraud Offenses ', 'Sex Offenses ',
       'Arson ', 'Homicide Offenses ', 'Extortion/Blackmail ',
       'Pornography/Obscene Material ', 'Human Trafficking ',
       'Embezzlement ', 'Animal Cruelty ', 'Gambling Offenses ',
       'Prostitution Offenses ', 'Gunshot Wound Victims',
       'Shots Fired Calls', 'Subset of NIBRS Robbery', 'Bribery '],
      dtype=object)

In [85]:
mn['Offense'].unique()

array(['Domestic Aggravated Assault - Subset of Assault',
       'Burglary/Breaking & Entering ', 'Aggravated Assault ',
       'Motor Vehicle Theft ', 'All Other Larceny ',
       'Destruction/Damage/Vandalism of Property ', 'Simple Assault ',
       'Weapon Law Violations ', 'Drug/Narcotic Violations ',
       'Kidnapping/Abduction ', 'Theft From Motor Vehicle ', 'Robbery ',
       'Shoplifting ', 'Counterfeiting/Forgery ', 'Intimidation ',
       'Stolen Property Offenses ', 'Identity Theft ',
       'False Pretenses/Swindle/Confidence Game ', 'Sex Offenses',
       'Credit Card/Automated Teller Machine Fraud ',
       'Theft of Motor Vehicle Parts or Accessories ',
       'Drug Equipment Violations ', 'Purse-snatching ', 'Arson ',
       'Murder and Nonnegligent Manslaughter ', 'Extortion/Blackmail ',
       'Wire Fraud ', 'Pornography/Obscene Material ',
       'Human Trafficking, Commercial Sex Acts ', 'Theft From Building ',
       'Hacking/Computer Invasion ', 'Embezzlement ', 'Welfare Fraud ',
       'Animal Cruelty ', 'Operating/Promoting/Assisting Gambling ',
       'Negligent Manslaughter ',
       'Human Trafficking, Involuntary Servitude ', 'Pocket-picking ',
       'Impersonation ', 'Assisting or Promoting Prostitution ',
       'Prostitution ', 'Betting/Wagering ',
       'Theft From Coin-Operated Machine or Device ',
       'Justifiable Homicide ', 'Gunshot Wound Victims',
       'Sound of Shots Fired (P)', 'ShotSpotter Activation (P)',
       'Shooting (PFE)', 'Shooting Report Only (P)',
       'Purchasing Prostitution ', 'Carjacking - Subset of Robbery',
       'Bribery ', 'Gambling Equipment Violations '], dtype=object)

In [86]:
mn.loc[mn['Offense'].isin(['Murder and Nonnegligent Manslaughter ', 'Negligent Manslaughter ', 'Justifiable Homicide '])] #getting only 487 rows

                   X             Y                    Type Case_Number Case_NumberAlt           Reported_Date           Occurred_Date NIBRS_Crime_Against NIBRS_Group NIBRS_Code    Offense_Category                                Offense                 Problem_Initial                   Problem_Final                Address  Precinct                      Neighborhood  Ward  Latitude  Longitude      wgsXAnon      wgsYAnon  Crime_Count  OBJECTID
383    -1.037787e+07  5.605496e+06  Crime Offenses (NIBRS)   20-298294   MP2020298294  2020/11/27 14:06:00+00  2020/11/27 14:06:00+00             Person      Group A       09A   Homicide Offenses   Murder and Nonnegligent Manslaughter              Unknown Trouble (P)                  Shooting (PFE)       0031XX 58TH ST E       3.0                           Wenonah  11.0  44.89811  -93.22601 -1.037787e+07  5.605496e+06            1       384
895    -1.038293e+07  5.615948e+06  Crime Offenses (NIBRS)   20-211508   MP2020211508  2020/08/14 11:40:00+00  2020/08/14 03:57:00+00             Person      Group A       09A   Homicide Offenses   Murder and Nonnegligent Manslaughter   Domestic Abuse-In Progress (P)                  Shooting (PFE)     0018XX CLINTON AVE       5.0  Steven's Square - Loring Heights   6.0  44.96459  -93.27148 -1.038293e+07  5.615948e+06            1       896
1383   -1.038492e+07  5.623727e+06  Crime Offenses (NIBRS)   20-314995   MP2020314995  2020/12/20 02:53:00+00  2020/12/20 02:53:00+00             Person      Group A       09A   Homicide Offenses   Murder and Nonnegligent Manslaughter         Sound of Shots Fired (P)                  Shooting (PFE)   0032XX ALDRICH AVE N       4.0                          McKinley   4.0  45.01401  -93.28928 -1.038492e+07  5.623727e+06            1      1384
1475   -1.038781e+07  5.622755e+06  Crime Offenses (NIBRS)   20-314667   MP2020314667  2020/12/19 19:54:00+00  2020/12/19 18:02:00+00             Person      Group A       09A   Homicide Offenses   Murder and Nonnegligent Manslaughter                     Slumper (PE)                    Slumper (PE)      0027XX 27TH AVE N       4.0                            Jordan   4.0  45.00784  -93.31524 -1.038781e+07  5.622755e+06            1      1476
1708   -1.037732e+07  5.610168e+06  Crime Offenses (NIBRS)   20-214763   MP2020214763  2020/08/18 05:38:00+00  2020/08/18 03:46:00+00             Person      Group A       09A   Homicide Offenses   Murder and Nonnegligent Manslaughter                   Shooting (PFE)                  Shooting (PFE)    0041XX SNELLING AVE       3.0                          Hiawatha  12.0  44.92784  -93.22108 -1.037732e+07  5.610168e+06            1      1709
...              ...           ...                     ...         ...            ...                     ...                     ...                 ...         ...        ...                 ...                                    ...                             ...                             ...                    ...       ...                               ...   ...       ...        ...           ...           ...          ...       ...
323234 -1.038154e+07  5.615371e+06  Crime Offenses (NIBRS)   20-189665   MP2020189665  2020/07/20 16:30:00+00  2020/07/20 16:29:00+00             Person      Group A       09A   Homicide Offenses   Murder and Nonnegligent Manslaughter      Sound of Shots Fired (P)~PD                  Shooting (PFE)       0010XX 22ND ST E       3.0                   Ventura Village   6.0  44.96092  -93.25893 -1.038154e+07  5.615371e+06            1    323235
323847 -1.038039e+07  5.614102e+06  Crime Offenses (NIBRS)   20-293251   MP2020293251  2020/11/20 10:37:00+00  2020/11/20 10:27:00+00             Person      Group A       09A   Homicide Offenses   Murder and Nonnegligent Manslaughter         Assist EMS Personnel (P)                 Dead Person (P)      0027XX 18TH AVE S       3.0                     East Phillips   9.0  44.95285  -93.24865 -1.038039e+07  5.614102e+06            1    323848
323898 -1.038745e+07  5.624033e+06  Crime Offenses (NIBRS)   20-290985   MP2020290985  2020/11/17 10:55:00+00  2020/11/17 09:21:00+00             Person      Group A       09A   Homicide Offenses   Murder and Nonnegligent Manslaughter   Burglary Dwlng In Progress (P)  Burglary Dwlng In Progress (P)  0033XX SHERIDAN AVE N       4.0                         Cleveland   4.0  45.01595  -93.31207 -1.038745e+07  5.624033e+06            1    323899
324036 -1.038461e+07  5.625147e+06  Crime Offenses (NIBRS)   20-294408   MP2020294408  2020/11/21 19:04:00+00  2020/11/21 17:20:00+00             Person      Group A       09A   Homicide Offenses   Murder and Nonnegligent Manslaughter         Sound of Shots Fired (P)                  Shooting (PFE)        0037XX 6TH ST N       4.0                          McKinley   4.0  45.02302  -93.28653 -1.038461e+07  5.625147e+06            1    324037
325000 -1.038533e+07  5.622882e+06  Crime Offenses (NIBRS)   20-297529   MP2020297529  2020/11/26 04:23:00+00  2020/11/26 02:57:00+00             Person      Group A       09A   Homicide Offenses   Murder and Nonnegligent Manslaughter                   Shooting (PFE)                  Shooting (PFE)    0028XX DUPONT AVE N       4.0                         Hawthorne   5.0  45.00864  -93.29305 -1.038533e+07  5.622882e+06            1    325001

[487 rows x 24 columns]

In [87]:
mn = mn.loc[mn['Offense_Category'] == 'Homicide Offenses '] #getting only 487 rows as well

In [88]:
mn = mn.rename(columns = {'Case_Number':'minneapolis_id', 'Occurred_Date':'date', 'Offense':'desc', 'Address':'address', 'Neighborhood':'neighborhood', 'Latitude':'lat', 'Longitude':'long'})

In [89]:
mn = mn[['minneapolis_id', 'date','desc', 'address', 'neighborhood', 'lat', 'long']]

In [90]:
mn.desc.unique()

array(['Murder and Nonnegligent Manslaughter ', 'Negligent Manslaughter ',
       'Justifiable Homicide '], dtype=object)

In [91]:
murder_mapping_mn = {
    'Murder and Nonnegligent Manslaughter ': 'Voluntary manslaughter',
    'Negligent Manslaughter ': 'Involuntary manslaughter',
    'Justifiable Homicide ': 'Justifiable homicide',
}

In [92]:
mn['desc'] = mn['desc'].replace(murder_mapping_mn)

In [93]:
mn['datetime'] = pd.to_datetime(mn['date'])

In [94]:
mn['hour'] = mn['datetime'].dt.hour

In [95]:
mn['weekday'] = mn['datetime'].dt.day_name()

In [96]:
mn['date'] = mn['datetime'].dt.date

In [97]:
for index, row in mn.iterrows():
    hour = row['hour']
    if 0 <= hour <=5:
          mn.loc[index, 'time'] = 'Night'
    elif 6 <= hour <= 11:
        mn.loc[index, 'time'] = 'Morning'
    elif 12 <= hour <= 17:
        mn.loc[index, 'time'] = 'Afternoon'
    elif 18 <= hour <= 23:
        mn.loc[index, 'time'] = 'Evening'
    else:
        mn.loc[index, 'time'] = 'Unknown'

In [98]:
mn['state'] = 'Minnesota'

In [99]:
mn['death_penalty'] = False

In [100]:
mn['weekday'] = mn['datetime'].dt.day_name()

In [101]:
mn['month'] = mn['datetime'].dt.month_name()

In [102]:
mn = mn.loc[mn['datetime'] < '2025-01-01']

In [103]:
mn['date'] = pd.to_datetime(mn['date'])

In [104]:
mn.drop('datetime', axis=1, inplace = True)

In [105]:
mn.date.max()

Timestamp('2024-12-23 00:00:00')

In [106]:
mn['year'] = mn['date'].dt.year

### Adding city and population columns

In [107]:
mn['city'] = 'Minneapolis'

In [108]:
mn.year.max()

2024

In [109]:
mn_pop = pd.read_csv('../data/minneapolis_pop.csv')

In [110]:
mn_pop

          city  year  population
0  Minneapolis  2019  429,605.00
1  Minneapolis  2020  429,954.00
2  Minneapolis  2021  425,338.00
3  Minneapolis  2022  425,104.00
4  Minneapolis  2023  425,142.00
5  Minneapolis  2024  423,250.00

In [111]:
mn = pd.merge(mn, mn_pop, on = ['year','city'], how = 'inner')

In [112]:
mn

    minneapolis_id       date                    desc                address                      neighborhood       lat      long  hour   weekday       time      state  death_penalty     month  year         city  population
0        20-298294 2020-11-27  Voluntary manslaughter       0031XX 58TH ST E                           Wenonah  44.89811 -93.22601    14    Friday  Afternoon  Minnesota          False  November  2020  Minneapolis  429,954.00
1        20-211508 2020-08-14  Voluntary manslaughter     0018XX CLINTON AVE  Steven's Square - Loring Heights  44.96459 -93.27148     3    Friday      Night  Minnesota          False    August  2020  Minneapolis  429,954.00
2        20-314995 2020-12-20  Voluntary manslaughter   0032XX ALDRICH AVE N                          McKinley  45.01401 -93.28928     2    Sunday      Night  Minnesota          False  December  2020  Minneapolis  429,954.00
3        20-314667 2020-12-19  Voluntary manslaughter      0027XX 27TH AVE N                            Jordan  45.00784 -93.31524    18  Saturday    Evening  Minnesota          False  December  2020  Minneapolis  429,954.00
4        20-214763 2020-08-18  Voluntary manslaughter    0041XX SNELLING AVE                          Hiawatha  44.92784 -93.22108     3   Tuesday      Night  Minnesota          False    August  2020  Minneapolis  429,954.00
..             ...        ...                     ...                    ...                               ...       ...       ...   ...       ...        ...        ...            ...       ...   ...          ...         ...
474      20-189665 2020-07-20  Voluntary manslaughter       0010XX 22ND ST E                   Ventura Village  44.96092 -93.25893    16    Monday  Afternoon  Minnesota          False      July  2020  Minneapolis  429,954.00
475      20-293251 2020-11-20  Voluntary manslaughter      0027XX 18TH AVE S                     East Phillips  44.95285 -93.24865    10    Friday    Morning  Minnesota          False  November  2020  Minneapolis  429,954.00
476      20-290985 2020-11-17  Voluntary manslaughter  0033XX SHERIDAN AVE N                         Cleveland  45.01595 -93.31207     9   Tuesday    Morning  Minnesota          False  November  2020  Minneapolis  429,954.00
477      20-294408 2020-11-21  Voluntary manslaughter        0037XX 6TH ST N                          McKinley  45.02302 -93.28653    17  Saturday  Afternoon  Minnesota          False  November  2020  Minneapolis  429,954.00
478      20-297529 2020-11-26  Voluntary manslaughter    0028XX DUPONT AVE N                         Hawthorne  45.00864 -93.29305     2  Thursday      Night  Minnesota          False  November  2020  Minneapolis  429,954.00

[479 rows x 16 columns]

In [113]:
mn.to_csv('mn_crime_for_powerbi.csv', index=False)

# Milwaukee, WI - no death penatly 2005- 2025 (don't have the right desc since dataset was limited)

In [114]:
mke = pd.read_csv('../data/milwaukee.csv')

C:\Users\Kala\AppData\Local\Temp\ipykernel_49840\75860633.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  mke = pd.read_csv('../data/milwaukee.csv')

In [115]:
mke

           _id IncidentNum     ReportedDateTime  ReportedYear  ReportedMonth                 Location WeaponUsed   ALD   NSP  POLICE    TRACT   WARD      ZIP       RoughX      RoughY  Arson  AssaultOffense  Burglary  CriminalDamage  Homicide  LockedVehicle  Robbery  SexOffense  Theft  VehicleTheft
0            1    82620026  2008-09-17 23:00:00          2008              9           4349 N 75TH ST      HANDS   2.0   NaN     7.0   3500.0   73.0  53216.0  2532667.331  405602.000      0               1         0               0         0              0        0           0      0             0
1            2    82620027  2008-09-17 14:00:00          2008              9           1604 E KANE PL        NaN   3.0   NaN     1.0  10800.0  179.0  53202.0  2563586.403  391917.837      0               0         1               0         0              0        0           0      0             0
2            3    82620028  2008-09-18 05:20:00          2008              9           4401 N 26TH ST      HANDS   1.0   4.0     5.0   4200.0   61.0  53209.0  2548630.679  406347.347      0               1         0               0         0              0        0           0      0             0
3            4    82620029  2008-09-18 02:00:00          2008              9          3007 W WANDA AV      HANDS  13.0   NaN     6.0  21800.0  313.0  53221.0  2548162.383  350518.692      0               1         0               0         0              0        0           0      0             0
4            5    82620030  2008-09-17 18:00:00          2008              9       5000 W CHAMBERS ST        NaN   7.0   5.0     7.0   4900.0   97.0  53210.0  2540752.441  397796.247      0               0         0               0         0              0        0           0      0             1
...        ...         ...                  ...           ...            ...                      ...        ...   ...   ...     ...      ...    ...      ...          ...         ...    ...             ...       ...             ...       ...            ...      ...         ...    ...           ...
883226  883227    82620020  2008-09-18 01:45:00          2008              9        8917 W METCALF PL      HANDS   5.0   NaN     7.0   5400.0   83.0  53222.0  2527919.006  400740.143      0               1         0               0         0              0        0           0      0             0
883227  883228    82620021  2008-09-18 00:34:00          2008              9         4401 W LISBON AV      TOOLS  15.0  11.0     3.0   9100.0  157.0  53208.0  2542817.152  392375.390      0               0         1               0         0              0        0           0      0             0
883228  883229    82620022  2008-09-17 22:00:00          2008              9  7022 W SILVER SPRING DR        NaN   2.0   2.0     4.0   1300.0   26.0  53218.0  2534357.397  414430.910      0               0         0               0         0              0        0           0      0             1
883229  883230    82620024  2008-09-18 00:01:40          2008              9           3240 N 40TH ST       FIRE   7.0   5.0     7.0   4800.0  104.0  53216.0  2544158.353  399170.812      0               1         0               0         0              0        0           0      0             0
883230  883231    82620025  2008-09-18 01:30:00          2008              9          333 E HADLEY ST        NaN   6.0   6.0     5.0   8100.0  140.0  53212.0  2559040.551  396743.510      0               0         0               1         0              0        0           0      0             0

[883231 rows x 25 columns]

In [116]:
mke = mke.loc[mke['Homicide'] > 0] #saving only crimes that were Homicides

In [117]:
mke.columns

Index(['_id', 'IncidentNum', 'ReportedDateTime', 'ReportedYear', 'ReportedMonth', 'Location', 'WeaponUsed', 'ALD', 'NSP', 'POLICE', 'TRACT', 'WARD', 'ZIP', 'RoughX', 'RoughY', 'Arson', 'AssaultOffense', 'Burglary', 'CriminalDamage', 'Homicide', 'LockedVehicle', 'Robbery', 'SexOffense', 'Theft', 'VehicleTheft'], dtype='object')

In [118]:
mke.head()

       _id IncidentNum     ReportedDateTime  ReportedYear  ReportedMonth         Location       WeaponUsed   ALD   NSP  POLICE    TRACT   WARD      ZIP       RoughX      RoughY  Arson  AssaultOffense  Burglary  CriminalDamage  Homicide  LockedVehicle  Robbery  SexOffense  Theft  VehicleTheft
31      32    82620060  2008-09-17 16:00:00          2008              9   4622 W MILL RD            HANDS   9.0   NaN     4.0    800.0   17.0  53218.0  2541834.676  419872.548      0               0         0               0         1              0        0           0      0             0
350    351    82640033  2008-09-19 08:30:00          2008              9   6612 N 90TH ST  PERSONAL WEAPON   9.0   NaN     4.0    600.0   10.0  53224.0  2527384.627  420961.187      0               1         0               0         1              0        0           0      0             0
878    879    82670008  2008-09-18 08:15:00          2008              9  3328 W SCOTT ST  PERSONAL WEAPON   8.0  15.0     2.0  16000.0  219.0  53215.0  2546841.357  378105.572      0               0         0               0         1              0        0           0      0             0
1783  1784    82720027  2008-09-28 00:01:00          2008              9   6050 N 39TH ST          FIREARM   1.0   2.0     4.0   1100.0   21.0  53209.0  2544328.815  417248.631      0               0         0               0         1              0        0           0      0             0
1884  1885    82720143  2008-09-28 11:51:00          2008              9   1212 S 12TH ST            HANDS  12.0  16.0     2.0  16400.0  236.0  53204.0  2554424.353  378314.351      0               0         0               0         1              0        0           0      0             0

In [119]:
mke = mke.rename(columns = {'_id':'milwaukee_id',  'ReportedDateTime':'date', 'ReportedYear':'year', 'Location':'street', 'WeaponUsed':'weapon', 'ZIP':'zip', 'RoughX':'lat', 'RoughY':'long',  'Homicide':'desc'})

In [120]:
mke = mke[['milwaukee_id', 'date', 'year', 'street', 'weapon', 'zip','lat', 'long', 'desc']]

In [121]:
mke['date'] = pd.to_datetime(mke['date'])

In [122]:
mke['hour'] = mke['date'].dt.hour

In [123]:
mke['weekday'] = mke['date'].dt.day_name()

In [124]:
mke['month'] = mke['date'].dt.month_name()

In [125]:
mke['death_penalty'] = False

In [126]:
mke['state'] = 'Wisconsin'

In [127]:
for index, row in mke.iterrows():
    hour = row['hour']
    if 0 <= hour <=5:
          mke.loc[index, 'time'] = 'Night'
    elif 6 <= hour <= 11:
        mke.loc[index, 'time'] = 'Morning'
    elif 12 <= hour <= 17:
        mke.loc[index, 'time'] = 'Afternoon'
    elif 18 <= hour <= 23:
        mke.loc[index, 'time'] = 'Evening'
    else:
        mke.loc[index, 'time'] = 'Unknown'

In [128]:
mke['zip'] = mke['zip'].astype('Int64')

In [129]:
mke.drop('desc', axis=1, inplace = True)

In [130]:
mke['desc'] = 'Homicide'

In [131]:
mke

        milwaukee_id                date  year              street           weapon    zip          lat        long  hour    weekday      month  death_penalty      state       time      desc
31                32 2008-09-17 16:00:00  2008      4622 W MILL RD            HANDS  53218  2541834.676  419872.548    16  Wednesday  September          False  Wisconsin  Afternoon  Homicide
350              351 2008-09-19 08:30:00  2008      6612 N 90TH ST  PERSONAL WEAPON  53224  2527384.627  420961.187     8     Friday  September          False  Wisconsin    Morning  Homicide
878              879 2008-09-18 08:15:00  2008     3328 W SCOTT ST  PERSONAL WEAPON  53215  2546841.357  378105.572     8   Thursday  September          False  Wisconsin    Morning  Homicide
1783            1784 2008-09-28 00:01:00  2008      6050 N 39TH ST          FIREARM  53209  2544328.815  417248.631     0     Sunday  September          False  Wisconsin      Night  Homicide
1884            1885 2008-09-28 11:51:00  2008      1212 S 12TH ST            HANDS  53204  2554424.353  378314.351    11     Sunday  September          False  Wisconsin    Morning  Homicide
...              ...                 ...   ...                 ...              ...    ...          ...         ...   ...        ...        ...            ...        ...        ...       ...
878355        878356 2008-08-20 10:09:00  2008      2656 N 24TH PL              GUN  53206  2549464.173  395305.496    10  Wednesday     August          False  Wisconsin    Morning  Homicide
879754        879755 2008-08-27 22:30:00  2008      2135 N 37TH ST          FIREARM  53208  2545211.369  392077.811    22  Wednesday     August          False  Wisconsin    Evening  Homicide
879943        879944 2008-08-28 23:05:00  2008     409 W VIENNA AV          FIREARM  53212  2556995.563  402587.824    23   Thursday     August          False  Wisconsin    Evening  Homicide
881177        881178 2008-09-05 16:00:00  2008      1948 S 13TH ST     BLUNT OBJECT  53204  2554124.053  375027.458    16     Friday  September          False  Wisconsin  Afternoon  Homicide
881385        881386 2008-09-06 11:35:00  2008  3040 W ATKINSON AV          HANDGUN  53209  2547370.044  407414.318    11   Saturday  September          False  Wisconsin    Morning  Homicide

[2394 rows x 15 columns]

In [132]:
mke['date'] = mke['date'].dt.date

In [133]:
mke['date'] = pd.to_datetime(mke['date'])

In [134]:
mke.dtypes

milwaukee_id              int64
date             datetime64[ns]
year                      int64
street                   object
weapon                   object
zip                       Int64
lat                     float64
long                    float64
hour                      int32
weekday                  object
month                    object
death_penalty              bool
state                    object
time                     object
desc                     object
dtype: object

###  Adding city and population columns

In [135]:
mke['city'] = 'Milwaukee'

In [136]:
mke = mke.loc[mke.year > 2014]

In [137]:
mke.year.min()

2015

In [138]:
mke_pop = pd.read_csv('../data/milwaukee_pop.csv')

In [139]:
mke_pop

        city  year  population
0  Milwaukee  2015  600,154.00
1  Milwaukee  2016  595,070.00
2  Milwaukee  2017  595,365.00
3  Milwaukee  2018  592,002.00
4  Milwaukee  2019  590,157.00
5  Milwaukee  2020  577,222.00
6  Milwaukee  2021  569,326.00
7  Milwaukee  2022  563,306.00
8  Milwaukee  2023  561,369.00
9  Milwaukee  2024  577,385.00

In [140]:
mke = pd.merge(mke, mke_pop, on = ['city', 'year'], how = 'inner')

In [141]:
mke

      milwaukee_id       date  year                   street   weapon    zip          lat        long  hour    weekday     month  death_penalty      state       time      desc       city  population
0           236961 2015-05-01  2015  1659 N HUMBOLDT AV #LWR      NaN  53202  2561770.713  390393.980    20     Friday       May          False  Wisconsin    Evening  Homicide  Milwaukee  600,154.00
1           284593 2016-11-04  2016        5715 W CAPITOL DR    HANDG  53216  2538705.414  403753.801    10     Friday  November          False  Wisconsin    Morning  Homicide  Milwaukee  595,070.00
2           288220 2015-01-02  2015       3130 N RICHARDS ST  FIREARM  53212  2559008.423  398719.467    10     Friday   January          False  Wisconsin    Morning  Homicide  Milwaukee  600,154.00
3           288376 2015-01-04  2015            1840 N 6TH ST    HANDG  53212  2556297.822  391037.796     0     Sunday   January          False  Wisconsin      Night  Homicide  Milwaukee  600,154.00
4           288407 2015-01-04  2015           4570 N 51ST BL    HANDG  53218  2540323.928  407431.511    11     Sunday   January          False  Wisconsin    Morning  Homicide  Milwaukee  600,154.00
...            ...        ...   ...                      ...      ...    ...          ...         ...   ...        ...       ...            ...        ...        ...       ...        ...         ...
1433        659797 2024-12-12  2024         5821 W CARMEN AV  HANDGUN  53218  2537991.327  415618.793    20   Thursday  December          False  Wisconsin    Evening  Homicide  Milwaukee  577,385.00
1434        659829 2024-12-06  2024           1303 N 25TH ST    OTHER  53205  2549228.712  388456.283     0     Friday  December          False  Wisconsin      Night  Homicide  Milwaukee  577,385.00
1435        660695 2024-12-23  2024           3839 W NASH ST  FIREARM  53216  2544729.436  401855.901    13     Monday  December          False  Wisconsin  Afternoon  Homicide  Milwaukee  577,385.00
1436        660842 2024-12-25  2024           1131 S 37TH ST  FIREARM  53215  2545513.496  378358.848    11  Wednesday  December          False  Wisconsin    Morning  Homicide  Milwaukee  577,385.00
1437        661334 2024-12-30  2024           4108 N 27TH ST  FIREARM  53216  2548375.244  403940.515    21     Monday  December          False  Wisconsin    Evening  Homicide  Milwaukee  577,385.00

[1438 rows x 17 columns]

In [142]:
mke.to_csv('mke_crime_for_powerbi.csv', index=False)

# SAN FRANCISCO, CA death penalty but 'Pause on Executions by Executive Action '¶ 2018-2024

In [143]:
san = pd.read_csv('../data/sf.csv')

In [144]:
san.loc[san['Incident Category'] == 'Homicide']

             Incident Datetime Incident Date Incident Time  Incident Year Incident Day of Week         Report Datetime        Row ID  Incident ID  Incident Number   CAD Number Report Type Code Report Type Description Filed Online  Incident Code Incident Category Incident Subcategory       Incident Description            Resolution                     Intersection         CNN Police District  Analysis Neighborhood  Supervisor District  Supervisor District 2012   Latitude   Longitude                                           Point  Neighborhoods  ESNCAG - Boundary File  Central Market/Tenderloin Boundary Polygon - Updated  Civic Center Harm Reduction Project Boundary  HSOC Zones as of 2018-06-05  Invest In Neighborhoods (IIN) Areas  Current Supervisor Districts  Current Police Districts
1018    2025/03/26 10:43:00 AM    2025/03/26         10:43           2025            Wednesday  2025/03/26 10:43:00 AM  147170101000      1471701        240728814  243280224.0               IS      Initial Supplement          NaN           1000          Homicide             Homicide                   Homicide  Cite or Arrest Adult            24TH ST \ POTRERO AVE  23953000.0         Mission                Mission                 10.0                      10.0  37.753002 -122.406334   POINT (-122.40633392333984 37.75300216674805)           54.0                     NaN                                                NaN                                              NaN                          3.0                                  NaN                           9.0                       3.0
4731    2023/10/26 03:18:00 PM    2023/10/26         15:18           2023             Thursday  2023/12/04 08:00:00 AM  134399501001      1343995        230767333          NaN               IS      Initial Supplement          NaN           1001          Homicide             Homicide           Homicide, W/ Gun  Cite or Arrest Adult     WEBSTER ST \ GOLDEN GATE AVE  25966000.0        Northern       Western Addition                  5.0                       5.0  37.779783 -122.430233   POINT (-122.43023323756815 37.77978279323558)           97.0                     NaN                                                NaN                                              NaN                          NaN                                  NaN                          11.0                       4.0
7433    2024/08/09 03:38:00 PM    2024/08/09         15:38           2024               Friday  2024/08/09 03:38:00 PM  142126501160      1421265        240497978  242222051.0               IS      Initial Supplement          NaN           1160          Homicide         Manslaughter    Manslaughter, Vehicular  Cite or Arrest Adult      BAY SHORE BLVD \ MARENGO ST  33673000.0         Bayview  Bayview Hunters Point                 10.0                      10.0  37.738457 -122.406914   POINT (-122.40691375732422 37.73845672607422)           82.0                     NaN                                                NaN                                              NaN                          NaN                                  NaN                           9.0                       2.0
8952    2023/12/06 01:46:00 AM    2023/12/06         01:46           2023            Wednesday  2023/12/06 01:46:00 AM  134488601160      1344886        230856011  233400133.0               IS      Initial Supplement          NaN           1160          Homicide         Manslaughter    Manslaughter, Vehicular        Open or Active               POLK ST \ OLIVE ST  25180000.0        Northern             Tenderloin                  5.0                       6.0  37.784501 -122.419455   POINT (-122.41945454389607 37.78450084289595)           20.0                     NaN                                                1.0                                              NaN                          NaN                                  NaN                          10.0                       4.0
25608   2023/12/15 11:41:00 AM    2023/12/15         11:41           2023               Friday  2023/12/15 11:41:00 AM  134745301001      1347453        230871984  233491424.0               IS      Initial Supplement          NaN           1001          Homicide             Homicide           Homicide, W/ Gun  Cite or Arrest Adult           FOOTE AVE \ MISSION ST  21505000.0       Ingleside          Outer Mission                 11.0                      11.0  37.712622 -122.444743    POINT (-122.44474329207247 37.7126222166951)           66.0                     NaN                                                NaN                                              NaN                          NaN                                  NaN                           1.0                       9.0
...                        ...           ...           ...            ...                  ...                     ...           ...          ...              ...          ...              ...                     ...          ...            ...               ...                  ...                        ...                   ...                              ...         ...             ...                    ...                  ...                       ...        ...         ...                                             ...            ...                     ...                                                ...                                              ...                          ...                                  ...                           ...                       ...
919756  2021/08/13 10:16:00 PM    2021/08/13         22:16           2021               Friday  2021/08/13 10:18:00 PM  106008601160      1060086        210517142  212253479.0               IS      Initial Supplement          NaN           1160          Homicide         Manslaughter    Manslaughter, Vehicular  Cite or Arrest Adult    GENEVA AVE \ LINDA VISTA STPS  33347000.0       Ingleside              Excelsior                 11.0                      11.0  37.712264 -122.429699  POINT (-122.42969860037697 37.712264398866324)           58.0                     NaN                                                NaN                                              NaN                          NaN                                  NaN                           1.0                       9.0
941314  2024/12/27 05:40:00 AM    2024/12/27         05:40           2024               Friday  2025/02/19 09:01:00 AM  146301301160      1463013        240792712  240792712.0               IS      Initial Supplement          NaN           1160          Homicide         Manslaughter    Manslaughter, Vehicular     Exceptional Adult  48TH AVE \ GREAT HWY \ ULLOA ST  23505000.0         Taraval        Sunset/Parkside                  4.0                       4.0  37.739811 -122.506676  POINT (-122.50667572021484 37.739810943603516)           39.0                     NaN                                                NaN                                              NaN                          NaN                                  NaN                           7.0                      10.0
941627  2025/02/11 12:50:00 PM    2025/02/11         12:50           2025              Tuesday  2025/02/11 12:50:00 PM  146314201003      1463142        759999990  250421577.0               IS      Initial Supplement          NaN           1003          Homicide             Homicide  Homicide, W/ Other Weapon        Open or Active        CLEMENTINA ST \ SUMNER ST  24277000.0        Southern        South of Market                  6.0                       6.0  37.775894 -122.409996   POINT (-122.40999603271484 37.77589416503906)           32.0                     NaN                                                NaN                                              1.0                          1.0                                  NaN                          10.0                       1.0
944323  2025/01/21 12:00:00 AM    2025/01/21         00:00           2025              Tuesday  2025/03/03 08:00:00 AM  146631601160      1466316        250039861  250210407.0               IS      Initial Supplement          NaN           1160          Homicide         Manslaughter    Manslaughter, Vehicular  Cite or Arrest Adult           GENEVA AVE \ PARQUE DR  21361000.0       Ingleside      Visitacion Valley                 10.0                      10.0  37.709164 -122.422890  POINT (-122.42288970947266 37.709163665771484)           74.0                     NaN                                                NaN                                              NaN                          NaN                                  NaN                           9.0                       9.0
945585  2025/03/07 12:00:00 AM    2025/03/07         00:00           2025               Friday  2025/03/07 10:30:00 AM  146517801002      1465178        240682141          NaN               IS      Initial Supplement          NaN           1002          Homicide             Homicide  Homicide, W/ Sharp Object  Cite or Arrest Adult          BOARDMAN PL \ BRYANT ST  23914000.0        Southern        South of Market                  6.0                       6.0  37.775162 -122.403633   POINT (-122.40363311767578 37.77516174316406)           32.0                     NaN                                                NaN                                              NaN                          NaN                                  NaN                          10.0                       1.0

[192 rows x 35 columns]

### Too many different descriptions, going to narrow them down by top 4 top words:

In [145]:
matches_list = []     #finding desc values with HOMICIDE in it

for item in san['Incident Description']:
    if re.findall(r'\b(homicide|murder|manslaughter|death)\b', item, flags =re.I):
        matches_list.append(item)

matches_list = list(dict.fromkeys(matches_list)) # removing duplicates while keeping order        

for match in matches_list:
    print(match)

Death Report, Cause Unknown
Homicide
Death, Accidental
Assault, Att. Homicide, W/ Gun
Evading a Police Officer, Injury or Death
Death Report, Natural Causes
Homicide, W/ Gun
Manslaughter, Vehicular
Resisting Peace Officer, causing Their Serious Injury or Death
Assault, Att. Homicide, W/ Other Weapon
Assault, Att. Homicide, W/ Knife
Death, Non-manslaughter Vehicle Accident
Homicide, W/ Other Weapon
Assault, Att. Homicide, W/ Force
Homicide, Drive-by
Assault, Att. Homicide, Explosives
Manslaughter, Accidental, W/ Other Weapon
Homicide, W/ Sharp Object
Homicide, Excusable, W/ Sharp Object
Homicide, W/ Force
Assault or Attempted Murder Upon Gov't Officers
Homicide By Sniping
Fighting Dog or Animal, Biting or Causing  Injury or Death

### Removing causes that don't match my search for crimes that could end in death penalty

In [146]:
not_eligible = ['Fighting Dog or Animal, Biting or Causing  Injury or Death', 'Assault, Att. Homicide, Explosives', 'Assault, Att. Homicide, W/ Force',
                 'Death, Non-manslaughter Vehicle Accident', 'Assault, Att. Homicide, W/ Knife', 'Assault, Att. Homicide, W/ Other Weapon', 
                 'Death Report, Natural Causes', 'Assault, Att. Homicide, W/ Gun', 'Death Report, Cause Unknown', 'Death, Accidental']

In [147]:
filtered_list = list(set(matches_list) - set(not_eligible))

In [148]:
filtered_list

['Homicide, W/ Sharp Object',
 'Homicide',
 'Homicide, W/ Gun',
 'Manslaughter, Accidental, W/ Other Weapon',
 'Homicide By Sniping',
 'Homicide, Drive-by',
 'Resisting Peace Officer, causing Their Serious Injury or Death',
 "Assault or Attempted Murder Upon Gov't Officers",
 'Evading a Police Officer, Injury or Death',
 'Manslaughter, Vehicular',
 'Homicide, Excusable, W/ Sharp Object',
 'Homicide, W/ Force',
 'Homicide, W/ Other Weapon']

In [149]:
san = san.loc[san['Incident Description'].isin(filtered_list)]

In [150]:
len(san.loc[san['Incident Year'] == 2020])

33

In [151]:
san = san.loc[san['Incident Year'] < 2025]

In [152]:
san.columns

Index(['Incident Datetime', 'Incident Date', 'Incident Time', 'Incident Year', 'Incident Day of Week', 'Report Datetime', 'Row ID', 'Incident ID', 'Incident Number', 'CAD Number', 'Report Type Code', 'Report Type Description', 'Filed Online', 'Incident Code', 'Incident Category', 'Incident Subcategory', 'Incident Description', 'Resolution', 'Intersection', 'CNN', 'Police District', 'Analysis Neighborhood', 'Supervisor District', 'Supervisor District 2012', 'Latitude', 'Longitude', 'Point', 'Neighborhoods', 'ESNCAG - Boundary File', 'Central Market/Tenderloin Boundary Polygon - Updated', 'Civic Center Harm Reduction Project Boundary', 'HSOC Zones as of 2018-06-05', 'Invest In Neighborhoods (IIN) Areas', 'Current Supervisor Districts', 'Current Police Districts'], dtype='object')

In [153]:
san.head()

            Incident Datetime Incident Date Incident Time  Incident Year Incident Day of Week         Report Datetime        Row ID  Incident ID  Incident Number   CAD Number Report Type Code Report Type Description Filed Online  Incident Code    Incident Category Incident Subcategory                               Incident Description            Resolution                  Intersection         CNN Police District  Analysis Neighborhood  Supervisor District  Supervisor District 2012   Latitude   Longitude                                          Point  Neighborhoods  ESNCAG - Boundary File  Central Market/Tenderloin Boundary Polygon - Updated  Civic Center Harm Reduction Project Boundary  HSOC Zones as of 2018-06-05  Invest In Neighborhoods (IIN) Areas  Current Supervisor Districts  Current Police Districts
2798   2023/03/24 03:40:00 AM    2023/03/24         03:40           2023               Friday  2023/03/24 03:42:00 AM  125743227176      1257432        230205797  230830257.0               II                 Initial          NaN          27176  Other Miscellaneous                Other          Evading a Police Officer, Injury or Death        Open or Active     STANYAN BLVD \ GEARY BLVD  27221000.0        Richmond       Presidio Heights                  2.0                       2.0  37.781381 -122.456296  POINT (-122.45629574095672 37.78138128185571)           12.0                     NaN                                                NaN                                              NaN                          NaN                                  NaN                           6.0                       8.0
4731   2023/10/26 03:18:00 PM    2023/10/26         15:18           2023             Thursday  2023/12/04 08:00:00 AM  134399501001      1343995        230767333          NaN               IS      Initial Supplement          NaN           1001             Homicide             Homicide                                   Homicide, W/ Gun  Cite or Arrest Adult  WEBSTER ST \ GOLDEN GATE AVE  25966000.0        Northern       Western Addition                  5.0                       5.0  37.779783 -122.430233  POINT (-122.43023323756815 37.77978279323558)           97.0                     NaN                                                NaN                                              NaN                          NaN                                  NaN                          11.0                       4.0
7433   2024/08/09 03:38:00 PM    2024/08/09         15:38           2024               Friday  2024/08/09 03:38:00 PM  142126501160      1421265        240497978  242222051.0               IS      Initial Supplement          NaN           1160             Homicide         Manslaughter                            Manslaughter, Vehicular  Cite or Arrest Adult   BAY SHORE BLVD \ MARENGO ST  33673000.0         Bayview  Bayview Hunters Point                 10.0                      10.0  37.738457 -122.406914  POINT (-122.40691375732422 37.73845672607422)           82.0                     NaN                                                NaN                                              NaN                          NaN                                  NaN                           9.0                       2.0
8952   2023/12/06 01:46:00 AM    2023/12/06         01:46           2023            Wednesday  2023/12/06 01:46:00 AM  134488601160      1344886        230856011  233400133.0               IS      Initial Supplement          NaN           1160             Homicide         Manslaughter                            Manslaughter, Vehicular        Open or Active            POLK ST \ OLIVE ST  25180000.0        Northern             Tenderloin                  5.0                       6.0  37.784501 -122.419455  POINT (-122.41945454389607 37.78450084289595)           20.0                     NaN                                                1.0                                              NaN                          NaN                                  NaN                          10.0                       4.0
10160  2024/09/02 11:50:00 PM    2024/09/02         23:50           2024               Monday  2024/09/05 01:12:00 PM  142133727172      1421337        240552306  242463051.0               IS      Initial Supplement          NaN          27172  Other Miscellaneous         Intimidation  Resisting Peace Officer, causing Their Serious...  Cite or Arrest Adult      03RD ST \ CHINA BASIN ST  34157000.0        Southern            Mission Bay                  6.0                       6.0  37.771999 -122.389610  POINT (-122.38961029052734 37.77199935913086)           34.0                     NaN                                                NaN                                              NaN                          NaN                                  NaN                          10.0                       1.0

In [154]:
san = san.rename(columns = {'Incident Datetime':'datetime', 'Incident Date':'date', 'Incident Year':'year', 'Incident Day of Week':'weekday', 'Incident ID':'san_id', 'Incident Description':'desc', 'Resolution':'resolution', 'Intersection':'intersection', 'Police District':'police_disctrict', 'Analysis Neighborhood':'neighborhood', 'Latitude':'lat', 'Longitude':'long', 'Point':'geo'})

In [155]:
san = san[['datetime', 'date', 'year', 'weekday', 'san_id', 'desc', 'resolution', 'intersection', 'police_disctrict', 'neighborhood', 'lat', 'long', 'geo']]

In [156]:
san

                      datetime        date  year    weekday   san_id                                               desc            resolution                     intersection police_disctrict           neighborhood        lat        long                                             geo
2798    2023/03/24 03:40:00 AM  2023/03/24  2023     Friday  1257432          Evading a Police Officer, Injury or Death        Open or Active        STANYAN BLVD \ GEARY BLVD         Richmond       Presidio Heights  37.781381 -122.456296   POINT (-122.45629574095672 37.78138128185571)
4731    2023/10/26 03:18:00 PM  2023/10/26  2023   Thursday  1343995                                   Homicide, W/ Gun  Cite or Arrest Adult     WEBSTER ST \ GOLDEN GATE AVE         Northern       Western Addition  37.779783 -122.430233   POINT (-122.43023323756815 37.77978279323558)
7433    2024/08/09 03:38:00 PM  2024/08/09  2024     Friday  1421265                            Manslaughter, Vehicular  Cite or Arrest Adult      BAY SHORE BLVD \ MARENGO ST          Bayview  Bayview Hunters Point  37.738457 -122.406914   POINT (-122.40691375732422 37.73845672607422)
8952    2023/12/06 01:46:00 AM  2023/12/06  2023  Wednesday  1344886                            Manslaughter, Vehicular        Open or Active               POLK ST \ OLIVE ST         Northern             Tenderloin  37.784501 -122.419455   POINT (-122.41945454389607 37.78450084289595)
10160   2024/09/02 11:50:00 PM  2024/09/02  2024     Monday  1421337  Resisting Peace Officer, causing Their Serious...  Cite or Arrest Adult         03RD ST \ CHINA BASIN ST         Southern            Mission Bay  37.771999 -122.389610   POINT (-122.38961029052734 37.77199935913086)
...                        ...         ...   ...        ...      ...                                                ...                   ...                              ...              ...                    ...        ...         ...                                             ...
906212  2020/03/01 07:27:00 AM  2020/03/01  2020     Sunday   935817                            Manslaughter, Vehicular  Cite or Arrest Adult             GEARY ST \ TAYLOR ST          Central             Tenderloin  37.786940 -122.411516   POINT (-122.41151576847024 37.78693970570657)
915269  2021/10/04 11:43:00 PM  2021/10/04  2021     Monday  1077343                            Manslaughter, Vehicular  Cite or Arrest Adult    FRANCISCO ST \ RICHARDSON AVE         Northern                 Marina  37.800386 -122.447131  POINT (-122.44713057446175 37.800385823298164)
915478  2020/07/19 11:59:00 AM  2020/07/19  2020     Sunday   945255                            Manslaughter, Vehicular  Cite or Arrest Adult         HOLLADAY AVE \ WRIGHT ST          Bayview         Bernal Heights  37.747366 -122.405101   POINT (-122.40510135842212 37.74736631166639)
919756  2021/08/13 10:16:00 PM  2021/08/13  2021     Friday  1060086                            Manslaughter, Vehicular  Cite or Arrest Adult    GENEVA AVE \ LINDA VISTA STPS        Ingleside              Excelsior  37.712264 -122.429699  POINT (-122.42969860037697 37.712264398866324)
941314  2024/12/27 05:40:00 AM  2024/12/27  2024     Friday  1463013                            Manslaughter, Vehicular     Exceptional Adult  48TH AVE \ GREAT HWY \ ULLOA ST          Taraval        Sunset/Parkside  37.739811 -122.506676  POINT (-122.50667572021484 37.739810943603516)

[355 rows x 13 columns]

In [157]:
san['datetime'] = pd.to_datetime(san['datetime'])

In [158]:
san['date'] = pd.to_datetime(san['date'])

In [159]:
san['hour'] = san['datetime'].dt.hour

In [160]:
san['month'] = san['datetime'].dt.month_name()

In [161]:
san['state'] = 'California'

In [162]:
san['death_penalty'] = True

In [163]:
for index, row in san.iterrows():
    hour = row['hour']
    if 0 <= hour <=5:
          san.loc[index, 'time'] = 'Night'
    elif 6 <= hour <= 11:
        san.loc[index, 'time'] = 'Morning'
    elif 12 <= hour <= 17:
        san.loc[index, 'time'] = 'Afternoon'
    elif 18 <= hour <= 23:
        san.loc[index, 'time'] = 'Evening'
    else:
       san.loc[index, 'time'] = 'Unknown'

In [164]:
san

                  datetime       date  year    weekday   san_id                                               desc            resolution                     intersection police_disctrict           neighborhood        lat        long                                             geo  hour      month       state  death_penalty       time
2798   2023-03-24 03:40:00 2023-03-24  2023     Friday  1257432          Evading a Police Officer, Injury or Death        Open or Active        STANYAN BLVD \ GEARY BLVD         Richmond       Presidio Heights  37.781381 -122.456296   POINT (-122.45629574095672 37.78138128185571)     3      March  California           True      Night
4731   2023-10-26 15:18:00 2023-10-26  2023   Thursday  1343995                                   Homicide, W/ Gun  Cite or Arrest Adult     WEBSTER ST \ GOLDEN GATE AVE         Northern       Western Addition  37.779783 -122.430233   POINT (-122.43023323756815 37.77978279323558)    15    October  California           True  Afternoon
7433   2024-08-09 15:38:00 2024-08-09  2024     Friday  1421265                            Manslaughter, Vehicular  Cite or Arrest Adult      BAY SHORE BLVD \ MARENGO ST          Bayview  Bayview Hunters Point  37.738457 -122.406914   POINT (-122.40691375732422 37.73845672607422)    15     August  California           True  Afternoon
8952   2023-12-06 01:46:00 2023-12-06  2023  Wednesday  1344886                            Manslaughter, Vehicular        Open or Active               POLK ST \ OLIVE ST         Northern             Tenderloin  37.784501 -122.419455   POINT (-122.41945454389607 37.78450084289595)     1   December  California           True      Night
10160  2024-09-02 23:50:00 2024-09-02  2024     Monday  1421337  Resisting Peace Officer, causing Their Serious...  Cite or Arrest Adult         03RD ST \ CHINA BASIN ST         Southern            Mission Bay  37.771999 -122.389610   POINT (-122.38961029052734 37.77199935913086)    23  September  California           True    Evening
...                    ...        ...   ...        ...      ...                                                ...                   ...                              ...              ...                    ...        ...         ...                                             ...   ...        ...         ...            ...        ...
906212 2020-03-01 07:27:00 2020-03-01  2020     Sunday   935817                            Manslaughter, Vehicular  Cite or Arrest Adult             GEARY ST \ TAYLOR ST          Central             Tenderloin  37.786940 -122.411516   POINT (-122.41151576847024 37.78693970570657)     7      March  California           True    Morning
915269 2021-10-04 23:43:00 2021-10-04  2021     Monday  1077343                            Manslaughter, Vehicular  Cite or Arrest Adult    FRANCISCO ST \ RICHARDSON AVE         Northern                 Marina  37.800386 -122.447131  POINT (-122.44713057446175 37.800385823298164)    23    October  California           True    Evening
915478 2020-07-19 11:59:00 2020-07-19  2020     Sunday   945255                            Manslaughter, Vehicular  Cite or Arrest Adult         HOLLADAY AVE \ WRIGHT ST          Bayview         Bernal Heights  37.747366 -122.405101   POINT (-122.40510135842212 37.74736631166639)    11       July  California           True    Morning
919756 2021-08-13 22:16:00 2021-08-13  2021     Friday  1060086                            Manslaughter, Vehicular  Cite or Arrest Adult    GENEVA AVE \ LINDA VISTA STPS        Ingleside              Excelsior  37.712264 -122.429699  POINT (-122.42969860037697 37.712264398866324)    22     August  California           True    Evening
941314 2024-12-27 05:40:00 2024-12-27  2024     Friday  1463013                            Manslaughter, Vehicular     Exceptional Adult  48TH AVE \ GREAT HWY \ ULLOA ST          Taraval        Sunset/Parkside  37.739811 -122.506676  POINT (-122.50667572021484 37.739810943603516)     5   December  California           True      Night

[355 rows x 18 columns]

In [165]:
murder_mapping_san = {
    'Evading a Police Officer, Injury or Death':'Potential Homicide/Death',
 'Manslaughter, Accidental, W/ Other Weapon':'Involuntary manslaughter',
 'Resisting Peace Officer, causing Their Serious Injury or Death':'Potential Homicide/Death',
 "Assault or Attempted Murder Upon Gov't Officers":'Potential Homicide/Death',
 'Homicide, W/ Other Weapon':'Voluntary manslaughter',
 'Homicide, W/ Force':'Voluntary manslaughter',
 'Homicide':'Voluntary manslaughter',
 'Manslaughter, Vehicular':'Involuntary manslaughter',
 'Homicide, W/ Gun':'Voluntary manslaughter',
 'Homicide, Drive-by':'Voluntary manslaughter',
 'Homicide, W/ Sharp Object':'Voluntary manslaughter',
 'Homicide By Sniping':'Voluntary manslaughter',
 'Homicide, Excusable, W/ Sharp Object' : 'Justifiable homicide',
}

In [166]:
san['desc'] = san['desc'].replace(murder_mapping_san)

In [167]:
san

                  datetime       date  year    weekday   san_id                      desc            resolution                     intersection police_disctrict           neighborhood        lat        long                                             geo  hour      month       state  death_penalty       time
2798   2023-03-24 03:40:00 2023-03-24  2023     Friday  1257432  Potential Homicide/Death        Open or Active        STANYAN BLVD \ GEARY BLVD         Richmond       Presidio Heights  37.781381 -122.456296   POINT (-122.45629574095672 37.78138128185571)     3      March  California           True      Night
4731   2023-10-26 15:18:00 2023-10-26  2023   Thursday  1343995    Voluntary manslaughter  Cite or Arrest Adult     WEBSTER ST \ GOLDEN GATE AVE         Northern       Western Addition  37.779783 -122.430233   POINT (-122.43023323756815 37.77978279323558)    15    October  California           True  Afternoon
7433   2024-08-09 15:38:00 2024-08-09  2024     Friday  1421265  Involuntary manslaughter  Cite or Arrest Adult      BAY SHORE BLVD \ MARENGO ST          Bayview  Bayview Hunters Point  37.738457 -122.406914   POINT (-122.40691375732422 37.73845672607422)    15     August  California           True  Afternoon
8952   2023-12-06 01:46:00 2023-12-06  2023  Wednesday  1344886  Involuntary manslaughter        Open or Active               POLK ST \ OLIVE ST         Northern             Tenderloin  37.784501 -122.419455   POINT (-122.41945454389607 37.78450084289595)     1   December  California           True      Night
10160  2024-09-02 23:50:00 2024-09-02  2024     Monday  1421337  Potential Homicide/Death  Cite or Arrest Adult         03RD ST \ CHINA BASIN ST         Southern            Mission Bay  37.771999 -122.389610   POINT (-122.38961029052734 37.77199935913086)    23  September  California           True    Evening
...                    ...        ...   ...        ...      ...                       ...                   ...                              ...              ...                    ...        ...         ...                                             ...   ...        ...         ...            ...        ...
906212 2020-03-01 07:27:00 2020-03-01  2020     Sunday   935817  Involuntary manslaughter  Cite or Arrest Adult             GEARY ST \ TAYLOR ST          Central             Tenderloin  37.786940 -122.411516   POINT (-122.41151576847024 37.78693970570657)     7      March  California           True    Morning
915269 2021-10-04 23:43:00 2021-10-04  2021     Monday  1077343  Involuntary manslaughter  Cite or Arrest Adult    FRANCISCO ST \ RICHARDSON AVE         Northern                 Marina  37.800386 -122.447131  POINT (-122.44713057446175 37.800385823298164)    23    October  California           True    Evening
915478 2020-07-19 11:59:00 2020-07-19  2020     Sunday   945255  Involuntary manslaughter  Cite or Arrest Adult         HOLLADAY AVE \ WRIGHT ST          Bayview         Bernal Heights  37.747366 -122.405101   POINT (-122.40510135842212 37.74736631166639)    11       July  California           True    Morning
919756 2021-08-13 22:16:00 2021-08-13  2021     Friday  1060086  Involuntary manslaughter  Cite or Arrest Adult    GENEVA AVE \ LINDA VISTA STPS        Ingleside              Excelsior  37.712264 -122.429699  POINT (-122.42969860037697 37.712264398866324)    22     August  California           True    Evening
941314 2024-12-27 05:40:00 2024-12-27  2024     Friday  1463013  Involuntary manslaughter     Exceptional Adult  48TH AVE \ GREAT HWY \ ULLOA ST          Taraval        Sunset/Parkside  37.739811 -122.506676  POINT (-122.50667572021484 37.739810943603516)     5   December  California           True      Night

[355 rows x 18 columns]

### Adding city and population columns

In [168]:
san['city'] = 'San Francisco'

In [169]:
san.year.min()

2018

In [170]:
san_pop = pd.read_csv('../data/san_francisco_pop.csv')

In [171]:
san_pop

            city  year  population
0  San Francisco  2018  883,305.00
1  San Francisco  2019  881,549.00
2  San Francisco  2020  873,965.00
3  San Francisco  2021  815,201.00
4  San Francisco  2022  808,437.00
5  San Francisco  2023  808,988.00
6  San Francisco  2024  827,526.00

In [172]:
san = pd.merge(san, san_pop, on = ['year','city'], how = 'inner')

In [173]:
len(san.loc[san['year'] == 2020])

33

In [174]:
san.columns

Index(['datetime', 'date', 'year', 'weekday', 'san_id', 'desc', 'resolution', 'intersection', 'police_disctrict', 'neighborhood', 'lat', 'long', 'geo', 'hour', 'month', 'state', 'death_penalty', 'time', 'city', 'population'], dtype='object')

In [175]:
san = san[['date', 'year', 'weekday', 'san_id', 'desc', 'resolution', 'intersection', 'police_disctrict', 'neighborhood', 'lat', 'long', 'geo', 'hour', 'month', 'state', 'death_penalty', 'time', 'city', 'population']]

In [176]:
san['san_id'] = san['san_id'].astype('object')

In [177]:
san

          date  year    weekday   san_id                      desc            resolution                     intersection police_disctrict           neighborhood        lat        long                                             geo  hour      month       state  death_penalty       time           city  population
0   2023-03-24  2023     Friday  1257432  Potential Homicide/Death        Open or Active        STANYAN BLVD \ GEARY BLVD         Richmond       Presidio Heights  37.781381 -122.456296   POINT (-122.45629574095672 37.78138128185571)     3      March  California           True      Night  San Francisco  808,988.00
1   2023-10-26  2023   Thursday  1343995    Voluntary manslaughter  Cite or Arrest Adult     WEBSTER ST \ GOLDEN GATE AVE         Northern       Western Addition  37.779783 -122.430233   POINT (-122.43023323756815 37.77978279323558)    15    October  California           True  Afternoon  San Francisco  808,988.00
2   2024-08-09  2024     Friday  1421265  Involuntary manslaughter  Cite or Arrest Adult      BAY SHORE BLVD \ MARENGO ST          Bayview  Bayview Hunters Point  37.738457 -122.406914   POINT (-122.40691375732422 37.73845672607422)    15     August  California           True  Afternoon  San Francisco  827,526.00
3   2023-12-06  2023  Wednesday  1344886  Involuntary manslaughter        Open or Active               POLK ST \ OLIVE ST         Northern             Tenderloin  37.784501 -122.419455   POINT (-122.41945454389607 37.78450084289595)     1   December  California           True      Night  San Francisco  808,988.00
4   2024-09-02  2024     Monday  1421337  Potential Homicide/Death  Cite or Arrest Adult         03RD ST \ CHINA BASIN ST         Southern            Mission Bay  37.771999 -122.389610   POINT (-122.38961029052734 37.77199935913086)    23  September  California           True    Evening  San Francisco  827,526.00
..         ...   ...        ...      ...                       ...                   ...                              ...              ...                    ...        ...         ...                                             ...   ...        ...         ...            ...        ...            ...         ...
350 2020-03-01  2020     Sunday   935817  Involuntary manslaughter  Cite or Arrest Adult             GEARY ST \ TAYLOR ST          Central             Tenderloin  37.786940 -122.411516   POINT (-122.41151576847024 37.78693970570657)     7      March  California           True    Morning  San Francisco  873,965.00
351 2021-10-04  2021     Monday  1077343  Involuntary manslaughter  Cite or Arrest Adult    FRANCISCO ST \ RICHARDSON AVE         Northern                 Marina  37.800386 -122.447131  POINT (-122.44713057446175 37.800385823298164)    23    October  California           True    Evening  San Francisco  815,201.00
352 2020-07-19  2020     Sunday   945255  Involuntary manslaughter  Cite or Arrest Adult         HOLLADAY AVE \ WRIGHT ST          Bayview         Bernal Heights  37.747366 -122.405101   POINT (-122.40510135842212 37.74736631166639)    11       July  California           True    Morning  San Francisco  873,965.00
353 2021-08-13  2021     Friday  1060086  Involuntary manslaughter  Cite or Arrest Adult    GENEVA AVE \ LINDA VISTA STPS        Ingleside              Excelsior  37.712264 -122.429699  POINT (-122.42969860037697 37.712264398866324)    22     August  California           True    Evening  San Francisco  815,201.00
354 2024-12-27  2024     Friday  1463013  Involuntary manslaughter     Exceptional Adult  48TH AVE \ GREAT HWY \ ULLOA ST          Taraval        Sunset/Parkside  37.739811 -122.506676  POINT (-122.50667572021484 37.739810943603516)     5   December  California           True      Night  San Francisco  827,526.00

[355 rows x 19 columns]

In [178]:
len(san.loc[san['year'] == 2024])

73

In [179]:
san.dtypes

date                datetime64[ns]
year                         int64
weekday                     object
san_id                      object
desc                        object
resolution                  object
intersection                object
police_disctrict            object
neighborhood                object
lat                        float64
long                       float64
geo                         object
hour                         int32
month                       object
state                       object
death_penalty                 bool
time                        object
city                        object
population                  object
dtype: object

In [180]:
san = san.loc[san.year > 2018]

In [181]:
san

          date  year    weekday   san_id                      desc            resolution                     intersection police_disctrict           neighborhood        lat        long                                             geo  hour      month       state  death_penalty       time           city  population
0   2023-03-24  2023     Friday  1257432  Potential Homicide/Death        Open or Active        STANYAN BLVD \ GEARY BLVD         Richmond       Presidio Heights  37.781381 -122.456296   POINT (-122.45629574095672 37.78138128185571)     3      March  California           True      Night  San Francisco  808,988.00
1   2023-10-26  2023   Thursday  1343995    Voluntary manslaughter  Cite or Arrest Adult     WEBSTER ST \ GOLDEN GATE AVE         Northern       Western Addition  37.779783 -122.430233   POINT (-122.43023323756815 37.77978279323558)    15    October  California           True  Afternoon  San Francisco  808,988.00
2   2024-08-09  2024     Friday  1421265  Involuntary manslaughter  Cite or Arrest Adult      BAY SHORE BLVD \ MARENGO ST          Bayview  Bayview Hunters Point  37.738457 -122.406914   POINT (-122.40691375732422 37.73845672607422)    15     August  California           True  Afternoon  San Francisco  827,526.00
3   2023-12-06  2023  Wednesday  1344886  Involuntary manslaughter        Open or Active               POLK ST \ OLIVE ST         Northern             Tenderloin  37.784501 -122.419455   POINT (-122.41945454389607 37.78450084289595)     1   December  California           True      Night  San Francisco  808,988.00
4   2024-09-02  2024     Monday  1421337  Potential Homicide/Death  Cite or Arrest Adult         03RD ST \ CHINA BASIN ST         Southern            Mission Bay  37.771999 -122.389610   POINT (-122.38961029052734 37.77199935913086)    23  September  California           True    Evening  San Francisco  827,526.00
..         ...   ...        ...      ...                       ...                   ...                              ...              ...                    ...        ...         ...                                             ...   ...        ...         ...            ...        ...            ...         ...
350 2020-03-01  2020     Sunday   935817  Involuntary manslaughter  Cite or Arrest Adult             GEARY ST \ TAYLOR ST          Central             Tenderloin  37.786940 -122.411516   POINT (-122.41151576847024 37.78693970570657)     7      March  California           True    Morning  San Francisco  873,965.00
351 2021-10-04  2021     Monday  1077343  Involuntary manslaughter  Cite or Arrest Adult    FRANCISCO ST \ RICHARDSON AVE         Northern                 Marina  37.800386 -122.447131  POINT (-122.44713057446175 37.800385823298164)    23    October  California           True    Evening  San Francisco  815,201.00
352 2020-07-19  2020     Sunday   945255  Involuntary manslaughter  Cite or Arrest Adult         HOLLADAY AVE \ WRIGHT ST          Bayview         Bernal Heights  37.747366 -122.405101   POINT (-122.40510135842212 37.74736631166639)    11       July  California           True    Morning  San Francisco  873,965.00
353 2021-08-13  2021     Friday  1060086  Involuntary manslaughter  Cite or Arrest Adult    GENEVA AVE \ LINDA VISTA STPS        Ingleside              Excelsior  37.712264 -122.429699  POINT (-122.42969860037697 37.712264398866324)    22     August  California           True    Evening  San Francisco  815,201.00
354 2024-12-27  2024     Friday  1463013  Involuntary manslaughter     Exceptional Adult  48TH AVE \ GREAT HWY \ ULLOA ST          Taraval        Sunset/Parkside  37.739811 -122.506676  POINT (-122.50667572021484 37.739810943603516)     5   December  California           True      Night  San Francisco  827,526.00

[290 rows x 19 columns]

In [182]:
mn.dtypes

minneapolis_id            object
date              datetime64[ns]
desc                      object
address                   object
neighborhood              object
lat                      float64
long                     float64
hour                       int32
weekday                   object
time                      object
state                     object
death_penalty               bool
month                     object
year                       int32
city                      object
population                object
dtype: object

In [183]:
san.to_csv('san_crime_for_powerbi.csv', index=False)

# PHOENIX, AZ - death penalty, 2015-2025

In [184]:
phoenix = pd.read_csv('../data/phoenix.csv')

C:\Users\Kala\AppData\Local\Temp\ipykernel_49840\2042697379.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  phoenix = pd.read_csv('../data/phoenix.csv')

In [185]:
phoenix

             INC NUMBER        OCCURRED ON        OCCURRED TO   UCR CRIME CATEGORY            100 BLOCK ADDR      ZIP                 PREMISE TYPE  GRID
0       201500002101405  11/01/2015  00:00  11/01/2015  05:00  MOTOR VEHICLE THEFT       102XX W MEDLOCK AVE  85307.0          SINGLE FAMILY HOUSE  BJ04
1       201500002168686  11/01/2015  00:00  11/11/2015  09:30        LARCENY-THEFT       14XX E HIGHLAND AVE  85014.0                  PARKING LOT  BI30
2       201500002102327  11/01/2015  00:00  11/01/2015  09:00        LARCENY-THEFT            51XX N 15TH ST  85014.0                    APARTMENT  BJ30
3       201600000052855  11/01/2015  00:00  01/09/2016  00:00  MOTOR VEHICLE THEFT  N 43RD AVE & W CACTUS RD  85029.0          SINGLE FAMILY HOUSE  DA19
4       201600000527709  11/01/2015  00:00  03/22/2016  00:36        LARCENY-THEFT       33XX W CAMELBACK RD  85017.0                  PARKING LOT  BJ21
...                 ...                ...                ...                  ...                       ...      ...                          ...   ...
584584  202500000448940  03/26/2025  22:00  03/27/2025  02:45        LARCENY-THEFT          43XX E ELWOOD ST  85040.0              INDUSTRIAL SITE  AG37
584585  202500000446646  03/26/2025  22:25                NaN             BURGLARY       30XX W CAMELBACK RD  85017.0          SINGLE FAMILY HOUSE  BI22
584586  202500000447819  03/26/2025  22:30  03/27/2025  06:20  MOTOR VEHICLE THEFT           51XX N 99TH AVE  85307.0                  PARKING LOT  BJ04
584587  202500000456825  03/26/2025  23:00  03/27/2025  08:30  MOTOR VEHICLE THEFT        101XX W HAMMOND LN  85353.0  STREET / ROADWAY / SIDEWALK  AH04
584588  202500000446885  03/26/2025  23:40                NaN   AGGRAVATED ASSAULT            77XX N 12TH ST  85020.0                     BUS STOP  CE29

[584589 rows x 8 columns]

In [186]:
phoenix.columns

Index(['INC NUMBER', 'OCCURRED ON', 'OCCURRED TO', 'UCR CRIME CATEGORY', '100 BLOCK ADDR', 'ZIP', 'PREMISE TYPE', 'GRID'], dtype='object')

In [187]:
phoenix = phoenix.rename(columns = {'INC NUMBER':'phoenix_id', 'OCCURRED ON':'date', 'UCR CRIME CATEGORY':'desc', '100 BLOCK ADDR':'address', 'ZIP':'zip', 'PREMISE TYPE':'location_desc'})

In [188]:
phoenix = phoenix[['phoenix_id', 'date', 'desc', 'address', 'zip', 'location_desc']]

In [189]:
phoenix = phoenix.loc[phoenix['desc'] == 'MURDER AND NON-NEGLIGENT MANSLAUGHTER']

In [190]:
phoenix['date'] = pd.to_datetime(phoenix['date'])

In [191]:
phoenix.dtypes

phoenix_id               object
date             datetime64[ns]
desc                     object
address                  object
zip                     float64
location_desc            object
dtype: object

In [192]:
phoenix['year'] = phoenix['date'].dt.year

In [193]:
phoenix['hour'] = phoenix['date'].dt.hour

In [194]:
phoenix['month'] = phoenix['date'].dt.month_name()

In [195]:
phoenix['weekday'] = phoenix['date'].dt.day_name()

In [196]:
for index, row in phoenix.iterrows():
    hour = row['hour']
    if 0 <= hour <=5:
          phoenix.loc[index, 'time'] = 'Night'
    elif 6 <= hour <= 11:
        phoenix.loc[index, 'time'] = 'Morning'
    elif 12 <= hour <= 17:
        phoenix.loc[index, 'time'] = 'Afternoon'
    elif 18 <= hour <= 23:
        phoenix.loc[index, 'time'] = 'Evening'
    else:
        phoenix.loc[index, 'time'] = 'Unknown'

In [197]:
phoenix['state'] = 'Arizona'

In [198]:
phoenix['death_penalty'] = True

In [199]:
phoenix['desc'] = phoenix['desc'].replace('MURDER AND NON-NEGLIGENT MANSLAUGHTER', 'Homicide')

In [200]:
phoenix['date'] = phoenix['date'].dt.date

In [201]:
phoenix['date'] = pd.to_datetime(phoenix['date'])

In [202]:
phoenix = phoenix.loc[phoenix.year < 2025]

###  Adding city and population

In [203]:
phoenix['city'] = 'Phoenix'

In [204]:
phoenix

             phoenix_id       date      desc                  address      zip                        location_desc  year  hour     month  weekday       time    state  death_penalty     city
38      201500002101067 2015-11-01  Homicide            XX N 67TH AVE  85043.0               FENCED COMMERCIAL YARD  2015     4  November   Sunday      Night  Arizona           True  Phoenix
1461    201500002160831 2015-11-10  Homicide          51XX N 17TH AVE  85015.0                            APARTMENT  2015     1  November  Tuesday      Night  Arizona           True  Phoenix
3578    201500002243346 2015-11-22  Homicide  20XX W INDIAN SCHOOL RD  85015.0                            APARTMENT  2015    18  November   Sunday    Evening  Arizona           True  Phoenix
3594    201500002243951 2015-11-22  Homicide           16XX S 7TH AVE  85007.0  STREET / ROADWAY / ALLEY / SIDEWALK  2015    19  November   Sunday    Evening  Arizona           True  Phoenix
3707    201500002248408 2015-11-23  Homicide     75XX W CRITTENDEN LN  85033.0                              UNKNOWN  2015    14  November   Monday  Afternoon  Arizona           True  Phoenix
...                 ...        ...       ...                      ...      ...                                  ...   ...   ...       ...      ...        ...      ...            ...      ...
573626  202400001903480 2024-12-27  Homicide      8XX E MONTECITO AVE  85014.0                          PARKING LOT  2024    19  December   Friday    Evening  Arizona           True  Phoenix
573627  202400001903555 2024-12-27  Homicide         16XX E THOMAS RD  85006.0                          PARKING LOT  2024    19  December   Friday    Evening  Arizona           True  Phoenix
573893  202400001913127 2024-12-29  Homicide          3XX W OSBORN RD  85013.0                          PARKING LOT  2024    20  December   Sunday    Evening  Arizona           True  Phoenix
573977  202400001916967 2024-12-30  Homicide        13XX W SHERMAN ST  85007.0                             DRIVEWAY  2024    15  December   Monday  Afternoon  Arizona           True  Phoenix
574104  202400001922257 2024-12-31  Homicide          154XX N 25TH ST  85032.0                            APARTMENT  2024    17  December  Tuesday  Afternoon  Arizona           True  Phoenix

[1478 rows x 14 columns]

In [205]:
phoenix_pop = pd.read_csv('../data/phoenix_pop.csv')

In [206]:
phoenix_pop

      city  year    population
0  Phoenix  2015  1,563,001.00
1  Phoenix  2016  1,615,041.00
2  Phoenix  2017  1,626,085.00
3  Phoenix  2018  1,660,272.00
4  Phoenix  2019  1,680,988.00
5  Phoenix  2020  1,608,139.00
6  Phoenix  2021  1,624,539.00
7  Phoenix  2022  1,644,403.00
8  Phoenix  2023  1,650,051.00
9  Phoenix  2024  1,662,607.00

In [207]:
phoenix = pd.merge(phoenix, phoenix_pop, on = ['year', 'city'], how = 'inner')

In [208]:
phoenix

           phoenix_id       date      desc                  address      zip                        location_desc  year  hour     month  weekday       time    state  death_penalty     city    population
0     201500002101067 2015-11-01  Homicide            XX N 67TH AVE  85043.0               FENCED COMMERCIAL YARD  2015     4  November   Sunday      Night  Arizona           True  Phoenix  1,563,001.00
1     201500002160831 2015-11-10  Homicide          51XX N 17TH AVE  85015.0                            APARTMENT  2015     1  November  Tuesday      Night  Arizona           True  Phoenix  1,563,001.00
2     201500002243346 2015-11-22  Homicide  20XX W INDIAN SCHOOL RD  85015.0                            APARTMENT  2015    18  November   Sunday    Evening  Arizona           True  Phoenix  1,563,001.00
3     201500002243951 2015-11-22  Homicide           16XX S 7TH AVE  85007.0  STREET / ROADWAY / ALLEY / SIDEWALK  2015    19  November   Sunday    Evening  Arizona           True  Phoenix  1,563,001.00
4     201500002248408 2015-11-23  Homicide     75XX W CRITTENDEN LN  85033.0                              UNKNOWN  2015    14  November   Monday  Afternoon  Arizona           True  Phoenix  1,563,001.00
...               ...        ...       ...                      ...      ...                                  ...   ...   ...       ...      ...        ...      ...            ...      ...           ...
1473  202400001903480 2024-12-27  Homicide      8XX E MONTECITO AVE  85014.0                          PARKING LOT  2024    19  December   Friday    Evening  Arizona           True  Phoenix  1,662,607.00
1474  202400001903555 2024-12-27  Homicide         16XX E THOMAS RD  85006.0                          PARKING LOT  2024    19  December   Friday    Evening  Arizona           True  Phoenix  1,662,607.00
1475  202400001913127 2024-12-29  Homicide          3XX W OSBORN RD  85013.0                          PARKING LOT  2024    20  December   Sunday    Evening  Arizona           True  Phoenix  1,662,607.00
1476  202400001916967 2024-12-30  Homicide        13XX W SHERMAN ST  85007.0                             DRIVEWAY  2024    15  December   Monday  Afternoon  Arizona           True  Phoenix  1,662,607.00
1477  202400001922257 2024-12-31  Homicide          154XX N 25TH ST  85032.0                            APARTMENT  2024    17  December  Tuesday  Afternoon  Arizona           True  Phoenix  1,662,607.00

[1478 rows x 15 columns]

In [209]:
len(phoenix.loc[phoenix.year == 2019])

131

### Getting dataset for crime counts per year to calculate percentage change

In [210]:
phoenix_count_per_year = phoenix.groupby('year')['phoenix_id'].count()

In [211]:
pct_change_phoenix = phoenix_count_per_year.pct_change() * 100

In [212]:
phoenix_count_per_year

year
2015     24
2016    135
2017    153
2018    113
2019    131
2020    196
2021    189
2022    208
2023    196
2024    133
Name: phoenix_id, dtype: int64

In [213]:
pct_change_phoenix

year
2015           NaN
2016    462.500000
2017     13.333333
2018    -26.143791
2019     15.929204
2020     49.618321
2021     -3.571429
2022     10.052910
2023     -5.769231
2024    -32.142857
Name: phoenix_id, dtype: float64

In [214]:
phoenix.to_csv('phoenix_crime_for_powerbi.csv', index=False)

# State crimes merging with unemployment

In [215]:
unem = unem.loc[unem['Year'] <= 2019]

In [216]:
state_crimes = state_crimes.loc[state_crimes['Year'] >= 1976]

In [217]:
state_crimes['Year'].min()

1976

In [218]:
unem['Year'].min()

1976

In [219]:
state_crimes

        State  Year  Data.Population  Data.Rates.Property.All  Data.Rates.Property.Burglary  Data.Rates.Property.Larceny  Data.Rates.Property.Motor  Data.Rates.Violent.All  Data.Rates.Violent.Assault  Data.Rates.Violent.Murder  Data.Rates.Violent.Rape  Data.Rates.Violent.Robbery  Data.Totals.Property.All  Data.Totals.Property.Burglary  Data.Totals.Property.Larceny  Data.Totals.Property.Motor  Data.Totals.Violent.All  Data.Totals.Violent.Assault  Data.Totals.Violent.Murder  Data.Totals.Violent.Rape  Data.Totals.Violent.Robbery
16    Alabama  1976          3665000                   3419.5                        1170.0                       1987.2                      262.3                   388.8                       256.0                       15.1                     21.7                        96.0                    125325                          42879                         72832                        9614                    14248                         9381                         553                       794                         3520
17    Alabama  1977          3690000                   3298.2                        1135.5                       1881.9                      280.7                   414.4                       278.3                       14.2                     25.2                        96.8                    121702                          41901                         69442                       10359                    15293                        10268                         524                       929                         3572
18    Alabama  1978          3742000                   3519.7                        1229.3                       1987.9                      302.5                   419.1                       281.2                       13.3                     25.5                        99.1                    131707                          46001                         74387                       11319                    15682                        10521                         499                       954                         3708
19    Alabama  1979          3769000                   3830.5                        1287.3                       2223.2                      320.1                   413.3                       263.1                       13.2                     27.5                       109.5                    144372                          48517                         83791                       12064                    15578                         9918                         496                      1037                         4127
20    Alabama  1980          3861466                   4485.1                        1526.7                       2642.2                      316.2                   448.5                       273.2                       13.2                     30.0                       132.1                    173191                          58952                        102029                       12210                    17320                        10551                         509                      1158                         5102
...       ...   ...              ...                      ...                           ...                          ...                        ...                     ...                         ...                        ...                      ...                         ...                       ...                            ...                           ...                         ...                      ...                          ...                         ...                       ...                          ...
3110  Wyoming  2015           586107                   1902.6                         300.6                       1500.9                      101.0                   222.1                       179.8                        2.7                     29.5                        10.1                     11151                           1762                          8797                         592                     1302                         1054                          16                       173                           59
3111  Wyoming  2016           585501                   1957.3                         302.5                       1518.2                      136.6                   244.2                       195.7                        3.4                     35.0                        10.1                     11460                           1771                          8889                         800                     1430                         1146                          20                       205                           59
3112  Wyoming  2017           579315                   1830.4                         275.0                       1421.0                      134.5                   237.5                       176.4                        2.6                     45.4                        13.1                     10604                           1593                          8232                         779                     1376                         1022                          15                       263                           76
3113  Wyoming  2018           577737                   1785.1                         264.0                       1375.9                      145.2                   212.2                       150.6                        2.3                     42.1                        17.3                     10313                           1525                          7949                         839                     1226                          870                          13                       243                          100
3114  Wyoming  2019           578759                   1571.1                         241.2                       1206.7                      123.2                   217.4                       147.6                        2.2                     56.0                        11.6                      9093                           1396                          6984                         713                     1258                          854                          13                       324                           67

[2288 rows x 21 columns]

In [220]:
unem = unem.loc[unem['Month'] == 6]

In [221]:
unem = unem[['State/Area', 'Year', 'Total Unemployment in State/Area']]

In [222]:
unem['Total Unemployment in State/Area'] = unem['Total Unemployment in State/Area'].str.strip()

In [223]:
unem['Total Unemployment in State/Area'] = unem['Total Unemployment in State/Area'].str.replace(',' , '')

In [224]:
unem['Total Unemployment in State/Area'] = unem['Total Unemployment in State/Area'].astype(int)

In [225]:
unem= unem.rename(columns = {'State/Area':'State', 'Total Unemployment in State/Area':'unemployment'})

In [226]:
unem

               State  Year  unemployment
265          Alabama  1976         96730
266           Alaska  1976         11584
267          Arizona  1976         94859
268         Arkansas  1976         61601
269       California  1976        884632
...              ...   ...           ...
27661       Virginia  2019        111539
27662     Washington  2019        165405
27663  West Virginia  2019         37814
27664      Wisconsin  2019        100908
27665        Wyoming  2019         10308

[2332 rows x 3 columns]

In [227]:
crimes_unem = pd.merge(state_crimes, unem, on = ['State', 'Year'], how = 'inner')

In [228]:
crimes_unem

        State  Year  Data.Population  Data.Rates.Property.All  Data.Rates.Property.Burglary  Data.Rates.Property.Larceny  Data.Rates.Property.Motor  Data.Rates.Violent.All  Data.Rates.Violent.Assault  Data.Rates.Violent.Murder  Data.Rates.Violent.Rape  Data.Rates.Violent.Robbery  Data.Totals.Property.All  Data.Totals.Property.Burglary  Data.Totals.Property.Larceny  Data.Totals.Property.Motor  Data.Totals.Violent.All  Data.Totals.Violent.Assault  Data.Totals.Violent.Murder  Data.Totals.Violent.Rape  Data.Totals.Violent.Robbery  unemployment
0     Alabama  1976          3665000                   3419.5                        1170.0                       1987.2                      262.3                   388.8                       256.0                       15.1                     21.7                        96.0                    125325                          42879                         72832                        9614                    14248                         9381                         553                       794                         3520         96730
1     Alabama  1977          3690000                   3298.2                        1135.5                       1881.9                      280.7                   414.4                       278.3                       14.2                     25.2                        96.8                    121702                          41901                         69442                       10359                    15293                        10268                         524                       929                         3572        115591
2     Alabama  1978          3742000                   3519.7                        1229.3                       1987.9                      302.5                   419.1                       281.2                       13.3                     25.5                        99.1                    131707                          46001                         74387                       11319                    15682                        10521                         499                       954                         3708        100309
3     Alabama  1979          3769000                   3830.5                        1287.3                       2223.2                      320.1                   413.3                       263.1                       13.2                     27.5                       109.5                    144372                          48517                         83791                       12064                    15578                         9918                         496                      1037                         4127        120069
4     Alabama  1980          3861466                   4485.1                        1526.7                       2642.2                      316.2                   448.5                       273.2                       13.2                     30.0                       132.1                    173191                          58952                        102029                       12210                    17320                        10551                         509                      1158                         5102        150939
...       ...   ...              ...                      ...                           ...                          ...                        ...                     ...                         ...                        ...                      ...                         ...                       ...                            ...                           ...                         ...                      ...                          ...                         ...                       ...                          ...           ...
2239  Wyoming  2015           586107                   1902.6                         300.6                       1500.9                      101.0                   222.1                       179.8                        2.7                     29.5                        10.1                     11151                           1762                          8797                         592                     1302                         1054                          16                       173                           59         12803
2240  Wyoming  2016           585501                   1957.3                         302.5                       1518.2                      136.6                   244.2                       195.7                        3.4                     35.0                        10.1                     11460                           1771                          8889                         800                     1430                         1146                          20                       205                           59         16760
2241  Wyoming  2017           579315                   1830.4                         275.0                       1421.0                      134.5                   237.5                       176.4                        2.6                     45.4                        13.1                     10604                           1593                          8232                         779                     1376                         1022                          15                       263                           76         12122
2242  Wyoming  2018           577737                   1785.1                         264.0                       1375.9                      145.2                   212.2                       150.6                        2.3                     42.1                        17.3                     10313                           1525                          7949                         839                     1226                          870                          13                       243                          100         11735
2243  Wyoming  2019           578759                   1571.1                         241.2                       1206.7                      123.2                   217.4                       147.6                        2.2                     56.0                        11.6                      9093                           1396                          6984                         713                     1258                          854                          13                       324                           67         10308

[2244 rows x 22 columns]

In [229]:
crimes_unem['unemployment_rate'] = round((crimes_unem['unemployment'] / crimes_unem['Data.Population']) * 100,1)

In [230]:
crimes_unem

        State  Year  Data.Population  Data.Rates.Property.All  Data.Rates.Property.Burglary  Data.Rates.Property.Larceny  Data.Rates.Property.Motor  Data.Rates.Violent.All  Data.Rates.Violent.Assault  Data.Rates.Violent.Murder  Data.Rates.Violent.Rape  Data.Rates.Violent.Robbery  Data.Totals.Property.All  Data.Totals.Property.Burglary  Data.Totals.Property.Larceny  Data.Totals.Property.Motor  Data.Totals.Violent.All  Data.Totals.Violent.Assault  Data.Totals.Violent.Murder  Data.Totals.Violent.Rape  Data.Totals.Violent.Robbery  unemployment  unemployment_rate
0     Alabama  1976          3665000                   3419.5                        1170.0                       1987.2                      262.3                   388.8                       256.0                       15.1                     21.7                        96.0                    125325                          42879                         72832                        9614                    14248                         9381                         553                       794                         3520         96730                2.6
1     Alabama  1977          3690000                   3298.2                        1135.5                       1881.9                      280.7                   414.4                       278.3                       14.2                     25.2                        96.8                    121702                          41901                         69442                       10359                    15293                        10268                         524                       929                         3572        115591                3.1
2     Alabama  1978          3742000                   3519.7                        1229.3                       1987.9                      302.5                   419.1                       281.2                       13.3                     25.5                        99.1                    131707                          46001                         74387                       11319                    15682                        10521                         499                       954                         3708        100309                2.7
3     Alabama  1979          3769000                   3830.5                        1287.3                       2223.2                      320.1                   413.3                       263.1                       13.2                     27.5                       109.5                    144372                          48517                         83791                       12064                    15578                         9918                         496                      1037                         4127        120069                3.2
4     Alabama  1980          3861466                   4485.1                        1526.7                       2642.2                      316.2                   448.5                       273.2                       13.2                     30.0                       132.1                    173191                          58952                        102029                       12210                    17320                        10551                         509                      1158                         5102        150939                3.9
...       ...   ...              ...                      ...                           ...                          ...                        ...                     ...                         ...                        ...                      ...                         ...                       ...                            ...                           ...                         ...                      ...                          ...                         ...                       ...                          ...           ...                ...
2239  Wyoming  2015           586107                   1902.6                         300.6                       1500.9                      101.0                   222.1                       179.8                        2.7                     29.5                        10.1                     11151                           1762                          8797                         592                     1302                         1054                          16                       173                           59         12803                2.2
2240  Wyoming  2016           585501                   1957.3                         302.5                       1518.2                      136.6                   244.2                       195.7                        3.4                     35.0                        10.1                     11460                           1771                          8889                         800                     1430                         1146                          20                       205                           59         16760                2.9
2241  Wyoming  2017           579315                   1830.4                         275.0                       1421.0                      134.5                   237.5                       176.4                        2.6                     45.4                        13.1                     10604                           1593                          8232                         779                     1376                         1022                          15                       263                           76         12122                2.1
2242  Wyoming  2018           577737                   1785.1                         264.0                       1375.9                      145.2                   212.2                       150.6                        2.3                     42.1                        17.3                     10313                           1525                          7949                         839                     1226                          870                          13                       243                          100         11735                2.0
2243  Wyoming  2019           578759                   1571.1                         241.2                       1206.7                      123.2                   217.4                       147.6                        2.2                     56.0                        11.6                      9093                           1396                          6984                         713                     1258                          854                          13                       324                           67         10308                1.8

[2244 rows x 23 columns]

In [231]:
crimes_unem.to_csv('crimes_unem_for_powerbi.csv', index=False)

# Merging all 6 cities into 1 table

In [232]:
mke.groupby('year')['milwaukee_id'].count()

year
2015    140
2016    134
2017    120
2018     94
2019     96
2020    179
2021    185
2022    198
2023    166
2024    126
Name: milwaukee_id, dtype: int64

In [233]:
mke.columns

Index(['milwaukee_id', 'date', 'year', 'street', 'weapon', 'zip', 'lat', 'long', 'hour', 'weekday', 'month', 'death_penalty', 'state', 'time', 'desc', 'city', 'population'], dtype='object')

In [234]:
mke.dtypes

milwaukee_id              int64
date             datetime64[ns]
year                      int64
street                   object
weapon                   object
zip                       Int64
lat                     float64
long                    float64
hour                      int32
weekday                  object
month                    object
death_penalty              bool
state                    object
time                     object
desc                     object
city                     object
population               object
dtype: object

In [235]:
mke_merge = mke[['year', 'date', 'hour','weekday','month', 'death_penalty', 'state', 'time', 'desc', 'city', 'population']]

In [236]:
mke_merge

      year       date  hour    weekday     month  death_penalty      state       time      desc       city  population
0     2015 2015-05-01    20     Friday       May          False  Wisconsin    Evening  Homicide  Milwaukee  600,154.00
1     2016 2016-11-04    10     Friday  November          False  Wisconsin    Morning  Homicide  Milwaukee  595,070.00
2     2015 2015-01-02    10     Friday   January          False  Wisconsin    Morning  Homicide  Milwaukee  600,154.00
3     2015 2015-01-04     0     Sunday   January          False  Wisconsin      Night  Homicide  Milwaukee  600,154.00
4     2015 2015-01-04    11     Sunday   January          False  Wisconsin    Morning  Homicide  Milwaukee  600,154.00
...    ...        ...   ...        ...       ...            ...        ...        ...       ...        ...         ...
1433  2024 2024-12-12    20   Thursday  December          False  Wisconsin    Evening  Homicide  Milwaukee  577,385.00
1434  2024 2024-12-06     0     Friday  December          False  Wisconsin      Night  Homicide  Milwaukee  577,385.00
1435  2024 2024-12-23    13     Monday  December          False  Wisconsin  Afternoon  Homicide  Milwaukee  577,385.00
1436  2024 2024-12-25    11  Wednesday  December          False  Wisconsin    Morning  Homicide  Milwaukee  577,385.00
1437  2024 2024-12-30    21     Monday  December          False  Wisconsin    Evening  Homicide  Milwaukee  577,385.00

[1438 rows x 11 columns]

In [237]:
houston.columns

Index(['houston_id', 'date', 'hour', 'desc', 'beat', 'location_desc', 'street', 'city', 'zip', 'long', 'lat', 'time', 'state', 'death_penalty', 'year', 'month', 'weekday', 'population'], dtype='object')

In [238]:
houston_merge = houston[['year', 'date', 'hour','weekday','month', 'death_penalty', 'state', 'time', 'desc', 'city','population']]

In [239]:
houston_merge

      year       date  hour    weekday     month  death_penalty  state       time                    desc     city    population
0     2020 2020-01-01     1  Wednesday   January           True  Texas      Night  Voluntary manslaughter  Houston  2,304,580.00
1     2020 2020-01-01    16  Wednesday   January           True  Texas  Afternoon  Voluntary manslaughter  Houston  2,304,580.00
2     2020 2020-01-04     0   Saturday   January           True  Texas      Night  Voluntary manslaughter  Houston  2,304,580.00
3     2020 2020-01-04    12   Saturday   January           True  Texas  Afternoon  Voluntary manslaughter  Houston  2,304,580.00
4     2020 2020-01-06     4     Monday   January           True  Texas      Night  Voluntary manslaughter  Houston  2,304,580.00
...    ...        ...   ...        ...       ...            ...    ...        ...                     ...      ...           ...
1947  2024 2024-12-22     3     Sunday  December           True  Texas      Night  Voluntary manslaughter  Houston  2,333,346.00
1948  2024 2024-12-22     7     Sunday  December           True  Texas    Morning  Voluntary manslaughter  Houston  2,333,346.00
1949  2024 2024-12-22    22     Sunday  December           True  Texas    Evening  Voluntary manslaughter  Houston  2,333,346.00
1950  2024 2024-12-25    21  Wednesday  December           True  Texas    Evening  Voluntary manslaughter  Houston  2,333,346.00
1951  2024 2024-12-29     9     Sunday  December           True  Texas    Morning  Voluntary manslaughter  Houston  2,333,346.00

[1952 rows x 11 columns]

In [240]:
chicago.columns

Index(['chicago_id', 'date', 'street_name', 'desc', 'location_desc', 'domestic', 'year', 'lat', 'long', 'geo', 'hour', 'time', 'death_penalty', 'state', 'weekday', 'month', 'city', 'population'], dtype='object')

In [241]:
chicago_merge = chicago[['year', 'date', 'hour','weekday','month', 'death_penalty', 'state', 'time', 'desc', 'city', 'population']]

In [242]:
chicago_merge

      year       date  hour   weekday     month  death_penalty     state       time                    desc     city    population
0     2024 2024-12-31    15   Tuesday  December          False  Illinois  Afternoon  Voluntary manslaughter  Chicago  2,664,452.00
1     2024 2024-12-30     1    Monday  December          False  Illinois      Night  Voluntary manslaughter  Chicago  2,664,452.00
2     2024 2024-12-27     1    Friday  December          False  Illinois      Night  Voluntary manslaughter  Chicago  2,664,452.00
3     2024 2024-12-24    14   Tuesday  December          False  Illinois  Afternoon  Voluntary manslaughter  Chicago  2,664,452.00
4     2024 2024-12-23    22    Monday  December          False  Illinois    Evening  Voluntary manslaughter  Chicago  2,664,452.00
...    ...        ...   ...       ...       ...            ...       ...        ...                     ...      ...           ...
3558  2020 2020-01-03     8    Friday   January          False  Illinois    Morning  Voluntary manslaughter  Chicago  2,746,388.00
3559  2020 2020-01-02    19  Thursday   January          False  Illinois    Evening  Voluntary manslaughter  Chicago  2,746,388.00
3560  2020 2020-01-02    14  Thursday   January          False  Illinois  Afternoon  Voluntary manslaughter  Chicago  2,746,388.00
3561  2020 2020-01-02     3  Thursday   January          False  Illinois      Night  Voluntary manslaughter  Chicago  2,746,388.00
3562  2020 2020-01-02     2  Thursday   January          False  Illinois      Night  Voluntary manslaughter  Chicago  2,746,388.00

[3563 rows x 11 columns]

In [243]:
mn.columns

Index(['minneapolis_id', 'date', 'desc', 'address', 'neighborhood', 'lat', 'long', 'hour', 'weekday', 'time', 'state', 'death_penalty', 'month', 'year', 'city', 'population'], dtype='object')

In [244]:
mn_merge = mn[['year', 'date', 'hour','weekday','month', 'death_penalty', 'state', 'time', 'desc', 'city', 'population']]

In [245]:
mn_merge

     year       date  hour   weekday     month  death_penalty      state       time                    desc         city  population
0    2020 2020-11-27    14    Friday  November          False  Minnesota  Afternoon  Voluntary manslaughter  Minneapolis  429,954.00
1    2020 2020-08-14     3    Friday    August          False  Minnesota      Night  Voluntary manslaughter  Minneapolis  429,954.00
2    2020 2020-12-20     2    Sunday  December          False  Minnesota      Night  Voluntary manslaughter  Minneapolis  429,954.00
3    2020 2020-12-19    18  Saturday  December          False  Minnesota    Evening  Voluntary manslaughter  Minneapolis  429,954.00
4    2020 2020-08-18     3   Tuesday    August          False  Minnesota      Night  Voluntary manslaughter  Minneapolis  429,954.00
..    ...        ...   ...       ...       ...            ...        ...        ...                     ...          ...         ...
474  2020 2020-07-20    16    Monday      July          False  Minnesota  Afternoon  Voluntary manslaughter  Minneapolis  429,954.00
475  2020 2020-11-20    10    Friday  November          False  Minnesota    Morning  Voluntary manslaughter  Minneapolis  429,954.00
476  2020 2020-11-17     9   Tuesday  November          False  Minnesota    Morning  Voluntary manslaughter  Minneapolis  429,954.00
477  2020 2020-11-21    17  Saturday  November          False  Minnesota  Afternoon  Voluntary manslaughter  Minneapolis  429,954.00
478  2020 2020-11-26     2  Thursday  November          False  Minnesota      Night  Voluntary manslaughter  Minneapolis  429,954.00

[479 rows x 11 columns]

In [246]:
san.columns

Index(['date', 'year', 'weekday', 'san_id', 'desc', 'resolution', 'intersection', 'police_disctrict', 'neighborhood', 'lat', 'long', 'geo', 'hour', 'month', 'state', 'death_penalty', 'time', 'city', 'population'], dtype='object')

In [247]:
san_merge = san[['year', 'date', 'hour','weekday','month', 'death_penalty', 'state', 'time', 'desc', 'city', 'population']]

In [248]:
san_merge

     year       date  hour    weekday      month  death_penalty       state       time                      desc           city  population
0    2023 2023-03-24     3     Friday      March           True  California      Night  Potential Homicide/Death  San Francisco  808,988.00
1    2023 2023-10-26    15   Thursday    October           True  California  Afternoon    Voluntary manslaughter  San Francisco  808,988.00
2    2024 2024-08-09    15     Friday     August           True  California  Afternoon  Involuntary manslaughter  San Francisco  827,526.00
3    2023 2023-12-06     1  Wednesday   December           True  California      Night  Involuntary manslaughter  San Francisco  808,988.00
4    2024 2024-09-02    23     Monday  September           True  California    Evening  Potential Homicide/Death  San Francisco  827,526.00
..    ...        ...   ...        ...        ...            ...         ...        ...                       ...            ...         ...
350  2020 2020-03-01     7     Sunday      March           True  California    Morning  Involuntary manslaughter  San Francisco  873,965.00
351  2021 2021-10-04    23     Monday    October           True  California    Evening  Involuntary manslaughter  San Francisco  815,201.00
352  2020 2020-07-19    11     Sunday       July           True  California    Morning  Involuntary manslaughter  San Francisco  873,965.00
353  2021 2021-08-13    22     Friday     August           True  California    Evening  Involuntary manslaughter  San Francisco  815,201.00
354  2024 2024-12-27     5     Friday   December           True  California      Night  Involuntary manslaughter  San Francisco  827,526.00

[290 rows x 11 columns]

In [249]:
phoenix.columns

Index(['phoenix_id', 'date', 'desc', 'address', 'zip', 'location_desc', 'year', 'hour', 'month', 'weekday', 'time', 'state', 'death_penalty', 'city', 'population'], dtype='object')

In [250]:
phoenix_merge = phoenix[['year', 'date', 'hour','weekday','month', 'death_penalty', 'state', 'time', 'desc', 'city', 'population']]

In [251]:
phoenix_merge

      year       date  hour  weekday     month  death_penalty    state       time      desc     city    population
0     2015 2015-11-01     4   Sunday  November           True  Arizona      Night  Homicide  Phoenix  1,563,001.00
1     2015 2015-11-10     1  Tuesday  November           True  Arizona      Night  Homicide  Phoenix  1,563,001.00
2     2015 2015-11-22    18   Sunday  November           True  Arizona    Evening  Homicide  Phoenix  1,563,001.00
3     2015 2015-11-22    19   Sunday  November           True  Arizona    Evening  Homicide  Phoenix  1,563,001.00
4     2015 2015-11-23    14   Monday  November           True  Arizona  Afternoon  Homicide  Phoenix  1,563,001.00
...    ...        ...   ...      ...       ...            ...      ...        ...       ...      ...           ...
1473  2024 2024-12-27    19   Friday  December           True  Arizona    Evening  Homicide  Phoenix  1,662,607.00
1474  2024 2024-12-27    19   Friday  December           True  Arizona    Evening  Homicide  Phoenix  1,662,607.00
1475  2024 2024-12-29    20   Sunday  December           True  Arizona    Evening  Homicide  Phoenix  1,662,607.00
1476  2024 2024-12-30    15   Monday  December           True  Arizona  Afternoon  Homicide  Phoenix  1,662,607.00
1477  2024 2024-12-31    17  Tuesday  December           True  Arizona  Afternoon  Homicide  Phoenix  1,662,607.00

[1478 rows x 11 columns]

In [252]:
cities_merged = pd.concat([phoenix_merge, houston_merge, mn_merge, san_merge, chicago_merge, mke_merge], ignore_index = True)

In [253]:
cities_merged

      year       date  hour    weekday     month  death_penalty      state       time      desc       city    population
0     2015 2015-11-01     4     Sunday  November           True    Arizona      Night  Homicide    Phoenix  1,563,001.00
1     2015 2015-11-10     1    Tuesday  November           True    Arizona      Night  Homicide    Phoenix  1,563,001.00
2     2015 2015-11-22    18     Sunday  November           True    Arizona    Evening  Homicide    Phoenix  1,563,001.00
3     2015 2015-11-22    19     Sunday  November           True    Arizona    Evening  Homicide    Phoenix  1,563,001.00
4     2015 2015-11-23    14     Monday  November           True    Arizona  Afternoon  Homicide    Phoenix  1,563,001.00
...    ...        ...   ...        ...       ...            ...        ...        ...       ...        ...           ...
9195  2024 2024-12-12    20   Thursday  December          False  Wisconsin    Evening  Homicide  Milwaukee    577,385.00
9196  2024 2024-12-06     0     Friday  December          False  Wisconsin      Night  Homicide  Milwaukee    577,385.00
9197  2024 2024-12-23    13     Monday  December          False  Wisconsin  Afternoon  Homicide  Milwaukee    577,385.00
9198  2024 2024-12-25    11  Wednesday  December          False  Wisconsin    Morning  Homicide  Milwaukee    577,385.00
9199  2024 2024-12-30    21     Monday  December          False  Wisconsin    Evening  Homicide  Milwaukee    577,385.00

[9200 rows x 11 columns]

In [254]:
cities_merged.to_csv('cities_merged_for_powerbi.csv', index=False)

In [255]:
crime_counts = cities_merged.groupby(['city','year']).size().reset_index(name ='crime_count')

In [256]:
city_population = cities_merged.groupby(['city', 'year'])['population'].first().reset_index()

In [257]:
crimes_per_capita = pd.merge(crime_counts, city_population, on = ['city','year'])

In [258]:
crimes_per_capita.dtypes

city           object
year            int64
crime_count     int64
population     object
dtype: object

In [259]:
crimes_per_capita.head()

      city  year  crime_count    population
0  Chicago  2020          796  2,746,388.00
1  Chicago  2021          812  2,696,561.00
2  Chicago  2022          734  2,665,064.00
3  Chicago  2023          633  2,664,454.00
4  Chicago  2024          588  2,664,452.00

In [260]:
crimes_per_capita['population'] = pd.to_numeric(crimes_per_capita['population'].str.replace(',', '').str.replace(',', ''))

In [261]:
crimes_per_capita['crimes_per_100k'] = (crimes_per_capita['crime_count'] / crimes_per_capita['population']) * 100000

In [262]:
crimes_per_capita['crimes_per_100k'] = crimes_per_capita['crimes_per_100k'].round(2)

In [263]:
crimes_per_capita['population'] = crimes_per_capita['population'].astype(int)

In [264]:
crimes_per_capita.head()

      city  year  crime_count  population  crimes_per_100k
0  Chicago  2020          796     2746388            28.98
1  Chicago  2021          812     2696561            30.11
2  Chicago  2022          734     2665064            27.54
3  Chicago  2023          633     2664454            23.76
4  Chicago  2024          588     2664452            22.07

In [265]:
crimes_per_capita.to_csv('crimes_per_capita_for_powerbi.csv', index=False)

# Getting crime percentage change per city

In [266]:
crimes_per_capita = crimes_per_capita.sort_values(by=['city', 'year'])

In [267]:
crimes_per_capita

             city  year  crime_count  population  crimes_per_100k
0         Chicago  2020          796     2746388            28.98
1         Chicago  2021          812     2696561            30.11
2         Chicago  2022          734     2665064            27.54
3         Chicago  2023          633     2664454            23.76
4         Chicago  2024          588     2664452            22.07
5         Houston  2020          411     2304580            17.83
6         Houston  2021          446     2287047            19.50
7         Houston  2022          428     2304414            18.57
8         Houston  2023          353     2311461            15.27
9         Houston  2024          314     2333346            13.46
10      Milwaukee  2015          140      600154            23.33
11      Milwaukee  2016          134      595070            22.52
12      Milwaukee  2017          120      595365            20.16
13      Milwaukee  2018           94      592002            15.88
14      Milwaukee  2019           96      590157            16.27
15      Milwaukee  2020          179      577222            31.01
16      Milwaukee  2021          185      569326            32.49
17      Milwaukee  2022          198      563306            35.15
18      Milwaukee  2023          166      561369            29.57
19      Milwaukee  2024          126      577385            21.82
20    Minneapolis  2019           49      429605            11.41
21    Minneapolis  2020           86      429954            20.00
22    Minneapolis  2021          100      425338            23.51
23    Minneapolis  2022           85      425104            20.00
24    Minneapolis  2023           79      425142            18.58
25    Minneapolis  2024           80      423250            18.90
26        Phoenix  2015           24     1563001             1.54
27        Phoenix  2016          135     1615041             8.36
28        Phoenix  2017          153     1626085             9.41
29        Phoenix  2018          113     1660272             6.81
30        Phoenix  2019          131     1680988             7.79
31        Phoenix  2020          196     1608139            12.19
32        Phoenix  2021          189     1624539            11.63
33        Phoenix  2022          208     1644403            12.65
34        Phoenix  2023          196     1650051            11.88
35        Phoenix  2024          133     1662607             8.00
36  San Francisco  2019           33      881549             3.74
37  San Francisco  2020           33      873965             3.78
38  San Francisco  2021           26      815201             3.19
39  San Francisco  2022           51      808437             6.31
40  San Francisco  2023           74      808988             9.15
41  San Francisco  2024           73      827526             8.82

In [268]:
crimes_per_capita['crime_count_pct_change'] = crimes_per_capita.groupby('city')['crime_count'].pct_change() * 100

In [269]:
crimes_per_capita['crime_per_100k_pct_change'] = crimes_per_capita.groupby('city')['crimes_per_100k'].pct_change() * 100

In [270]:
crimes_per_capita

             city  year  crime_count  population  crimes_per_100k  crime_count_pct_change  crime_per_100k_pct_change
0         Chicago  2020          796     2746388            28.98                     NaN                        NaN
1         Chicago  2021          812     2696561            30.11                2.010050                   3.899241
2         Chicago  2022          734     2665064            27.54               -9.605911                  -8.535370
3         Chicago  2023          633     2664454            23.76              -13.760218                 -13.725490
4         Chicago  2024          588     2664452            22.07               -7.109005                  -7.112795
5         Houston  2020          411     2304580            17.83                     NaN                        NaN
6         Houston  2021          446     2287047            19.50                8.515815                   9.366237
7         Houston  2022          428     2304414            18.57               -4.035874                  -4.769231
8         Houston  2023          353     2311461            15.27              -17.523364                 -17.770598
9         Houston  2024          314     2333346            13.46              -11.048159                 -11.853307
10      Milwaukee  2015          140      600154            23.33                     NaN                        NaN
11      Milwaukee  2016          134      595070            22.52               -4.285714                  -3.471925
12      Milwaukee  2017          120      595365            20.16              -10.447761                 -10.479574
13      Milwaukee  2018           94      592002            15.88              -21.666667                 -21.230159
14      Milwaukee  2019           96      590157            16.27                2.127660                   2.455919
15      Milwaukee  2020          179      577222            31.01               86.458333                  90.596189
16      Milwaukee  2021          185      569326            32.49                3.351955                   4.772654
17      Milwaukee  2022          198      563306            35.15                7.027027                   8.187135
18      Milwaukee  2023          166      561369            29.57              -16.161616                 -15.874822
19      Milwaukee  2024          126      577385            21.82              -24.096386                 -26.208996
20    Minneapolis  2019           49      429605            11.41                     NaN                        NaN
21    Minneapolis  2020           86      429954            20.00               75.510204                  75.284838
22    Minneapolis  2021          100      425338            23.51               16.279070                  17.550000
23    Minneapolis  2022           85      425104            20.00              -15.000000                 -14.929817
24    Minneapolis  2023           79      425142            18.58               -7.058824                  -7.100000
25    Minneapolis  2024           80      423250            18.90                1.265823                   1.722282
26        Phoenix  2015           24     1563001             1.54                     NaN                        NaN
27        Phoenix  2016          135     1615041             8.36              462.500000                 442.857143
28        Phoenix  2017          153     1626085             9.41               13.333333                  12.559809
29        Phoenix  2018          113     1660272             6.81              -26.143791                 -27.630181
30        Phoenix  2019          131     1680988             7.79               15.929204                  14.390602
31        Phoenix  2020          196     1608139            12.19               49.618321                  56.482670
32        Phoenix  2021          189     1624539            11.63               -3.571429                  -4.593929
33        Phoenix  2022          208     1644403            12.65               10.052910                   8.770421
34        Phoenix  2023          196     1650051            11.88               -5.769231                  -6.086957
35        Phoenix  2024          133     1662607             8.00              -32.142857                 -32.659933
36  San Francisco  2019           33      881549             3.74                     NaN                        NaN
37  San Francisco  2020           33      873965             3.78                0.000000                   1.069519
38  San Francisco  2021           26      815201             3.19              -21.212121                 -15.608466
39  San Francisco  2022           51      808437             6.31               96.153846                  97.805643
40  San Francisco  2023           74      808988             9.15               45.098039                  45.007924
41  San Francisco  2024           73      827526             8.82               -1.351351                  -3.606557

In [271]:
crimes_per_capita['crime_count_pct_change'] = crimes_per_capita['crime_count_pct_change'].round(2)
crimes_per_capita['crime_per_100k_pct_change'] = crimes_per_capita['crime_per_100k_pct_change'].round(2)

In [272]:
crimes_per_capita

             city  year  crime_count  population  crimes_per_100k  crime_count_pct_change  crime_per_100k_pct_change
0         Chicago  2020          796     2746388            28.98                     NaN                        NaN
1         Chicago  2021          812     2696561            30.11                    2.01                       3.90
2         Chicago  2022          734     2665064            27.54                   -9.61                      -8.54
3         Chicago  2023          633     2664454            23.76                  -13.76                     -13.73
4         Chicago  2024          588     2664452            22.07                   -7.11                      -7.11
5         Houston  2020          411     2304580            17.83                     NaN                        NaN
6         Houston  2021          446     2287047            19.50                    8.52                       9.37
7         Houston  2022          428     2304414            18.57                   -4.04                      -4.77
8         Houston  2023          353     2311461            15.27                  -17.52                     -17.77
9         Houston  2024          314     2333346            13.46                  -11.05                     -11.85
10      Milwaukee  2015          140      600154            23.33                     NaN                        NaN
11      Milwaukee  2016          134      595070            22.52                   -4.29                      -3.47
12      Milwaukee  2017          120      595365            20.16                  -10.45                     -10.48
13      Milwaukee  2018           94      592002            15.88                  -21.67                     -21.23
14      Milwaukee  2019           96      590157            16.27                    2.13                       2.46
15      Milwaukee  2020          179      577222            31.01                   86.46                      90.60
16      Milwaukee  2021          185      569326            32.49                    3.35                       4.77
17      Milwaukee  2022          198      563306            35.15                    7.03                       8.19
18      Milwaukee  2023          166      561369            29.57                  -16.16                     -15.87
19      Milwaukee  2024          126      577385            21.82                  -24.10                     -26.21
20    Minneapolis  2019           49      429605            11.41                     NaN                        NaN
21    Minneapolis  2020           86      429954            20.00                   75.51                      75.28
22    Minneapolis  2021          100      425338            23.51                   16.28                      17.55
23    Minneapolis  2022           85      425104            20.00                  -15.00                     -14.93
24    Minneapolis  2023           79      425142            18.58                   -7.06                      -7.10
25    Minneapolis  2024           80      423250            18.90                    1.27                       1.72
26        Phoenix  2015           24     1563001             1.54                     NaN                        NaN
27        Phoenix  2016          135     1615041             8.36                  462.50                     442.86
28        Phoenix  2017          153     1626085             9.41                   13.33                      12.56
29        Phoenix  2018          113     1660272             6.81                  -26.14                     -27.63
30        Phoenix  2019          131     1680988             7.79                   15.93                      14.39
31        Phoenix  2020          196     1608139            12.19                   49.62                      56.48
32        Phoenix  2021          189     1624539            11.63                   -3.57                      -4.59
33        Phoenix  2022          208     1644403            12.65                   10.05                       8.77
34        Phoenix  2023          196     1650051            11.88                   -5.77                      -6.09
35        Phoenix  2024          133     1662607             8.00                  -32.14                     -32.66
36  San Francisco  2019           33      881549             3.74                     NaN                        NaN
37  San Francisco  2020           33      873965             3.78                    0.00                       1.07
38  San Francisco  2021           26      815201             3.19                  -21.21                     -15.61
39  San Francisco  2022           51      808437             6.31                   96.15                      97.81
40  San Francisco  2023           74      808988             9.15                   45.10                      45.01
41  San Francisco  2024           73      827526             8.82                   -1.35                      -3.61

# Adding death penalty column

In [273]:
death_penalty_states = ['San Francisco', 'Phoenix', 'Houston']

In [274]:
crimes_per_capita['death_penalty'] = crimes_per_capita['city'].isin(death_penalty_states)

In [275]:
crimes_per_capita

             city  year  crime_count  population  crimes_per_100k  crime_count_pct_change  crime_per_100k_pct_change  death_penalty
0         Chicago  2020          796     2746388            28.98                     NaN                        NaN          False
1         Chicago  2021          812     2696561            30.11                    2.01                       3.90          False
2         Chicago  2022          734     2665064            27.54                   -9.61                      -8.54          False
3         Chicago  2023          633     2664454            23.76                  -13.76                     -13.73          False
4         Chicago  2024          588     2664452            22.07                   -7.11                      -7.11          False
5         Houston  2020          411     2304580            17.83                     NaN                        NaN           True
6         Houston  2021          446     2287047            19.50                    8.52                       9.37           True
7         Houston  2022          428     2304414            18.57                   -4.04                      -4.77           True
8         Houston  2023          353     2311461            15.27                  -17.52                     -17.77           True
9         Houston  2024          314     2333346            13.46                  -11.05                     -11.85           True
10      Milwaukee  2015          140      600154            23.33                     NaN                        NaN          False
11      Milwaukee  2016          134      595070            22.52                   -4.29                      -3.47          False
12      Milwaukee  2017          120      595365            20.16                  -10.45                     -10.48          False
13      Milwaukee  2018           94      592002            15.88                  -21.67                     -21.23          False
14      Milwaukee  2019           96      590157            16.27                    2.13                       2.46          False
15      Milwaukee  2020          179      577222            31.01                   86.46                      90.60          False
16      Milwaukee  2021          185      569326            32.49                    3.35                       4.77          False
17      Milwaukee  2022          198      563306            35.15                    7.03                       8.19          False
18      Milwaukee  2023          166      561369            29.57                  -16.16                     -15.87          False
19      Milwaukee  2024          126      577385            21.82                  -24.10                     -26.21          False
20    Minneapolis  2019           49      429605            11.41                     NaN                        NaN          False
21    Minneapolis  2020           86      429954            20.00                   75.51                      75.28          False
22    Minneapolis  2021          100      425338            23.51                   16.28                      17.55          False
23    Minneapolis  2022           85      425104            20.00                  -15.00                     -14.93          False
24    Minneapolis  2023           79      425142            18.58                   -7.06                      -7.10          False
25    Minneapolis  2024           80      423250            18.90                    1.27                       1.72          False
26        Phoenix  2015           24     1563001             1.54                     NaN                        NaN           True
27        Phoenix  2016          135     1615041             8.36                  462.50                     442.86           True
28        Phoenix  2017          153     1626085             9.41                   13.33                      12.56           True
29        Phoenix  2018          113     1660272             6.81                  -26.14                     -27.63           True
30        Phoenix  2019          131     1680988             7.79                   15.93                      14.39           True
31        Phoenix  2020          196     1608139            12.19                   49.62                      56.48           True
32        Phoenix  2021          189     1624539            11.63                   -3.57                      -4.59           True
33        Phoenix  2022          208     1644403            12.65                   10.05                       8.77           True
34        Phoenix  2023          196     1650051            11.88                   -5.77                      -6.09           True
35        Phoenix  2024          133     1662607             8.00                  -32.14                     -32.66           True
36  San Francisco  2019           33      881549             3.74                     NaN                        NaN           True
37  San Francisco  2020           33      873965             3.78                    0.00                       1.07           True
38  San Francisco  2021           26      815201             3.19                  -21.21                     -15.61           True
39  San Francisco  2022           51      808437             6.31                   96.15                      97.81           True
40  San Francisco  2023           74      808988             9.15                   45.10                      45.01           True
41  San Francisco  2024           73      827526             8.82                   -1.35                      -3.61           True

In [276]:
crimes_per_capita.to_csv('crimes_per_capita_death_penalty_for_powerbi.csv', index=False)

In [ ]:
cities_economics = pd.read_csv('../data/cities_economics.csv')

In [277]:
cities_economics['death_penalty'] = cities_economics['city'].isin(death_penalty_states)

NameError: name 'cities_economics' is not defined

In [ ]:
cities_economics['death_penalty'] = cities_economics['city'].isin(death_penalty_states)

In [ ]:
cities_economics

In [ ]:
cities_economics.to_csv('cities_economics_for_powerbi.csv', index=False)